In [1]:
# Import dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser 
import time
import re

In [3]:
# Scrape wiki site for original xbox titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_games'
# Use pandas to read for tables
titles = pd.read_html(url)[0]['Title']
titles

                             Title
0            007: Agent Under Fire
1       007: Everything or Nothing
2       007: From Russia with Love
3                   007: Nightfire
4                  187 Ride or Die
..                             ...
990               Yourself!Fitness
991  Yu-Gi-Oh! The Dawn of Destiny
992     Zapper: One Wicked Cricket
993                        Zathura
994                      ZillerNet

[995 rows x 1 columns]

In [4]:
# Scrape wiki site for xbox360 A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_360_games_(A%E2%80%93L)'
# Use pandas to read for tables
xbox360AL_titles = pd.read_html(url)[1]['Title']
xbox360AL_titles

                                     Title
0                    0 Day Attack on Earth
1                              007 Legends
2                   007: Quantum of Solace
3                            0-D Beat Drop
4                                1 vs. 100
..                                     ...
990                             Lucha Fury
991  Lucha Libre AAA 2010: Héroes del Ring
992                               Lucidity
993                          Lumines Live!
994                                Luxor 2

[995 rows x 1 columns]

In [5]:
# Concat titles
titles = pd.concat([titles, xbox360AL_titles])
titles

                                     Title
0                    007: Agent Under Fire
1               007: Everything or Nothing
2               007: From Russia with Love
3                           007: Nightfire
4                          187 Ride or Die
..                                     ...
990                             Lucha Fury
991  Lucha Libre AAA 2010: Héroes del Ring
992                               Lucidity
993                          Lumines Live!
994                                Luxor 2

[1990 rows x 1 columns]

In [6]:
# Scrape wiki site for xbox360 M through Z titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_360_games_(M%E2%80%93Z)'
# Use pandas to read for tables
xbox360MZ_titles = pd.read_html(url)[1]['Title']
xbox360MZ_titles

                             Title
0                       Mad Riders
1                       Mad Tracks
2     Madagascar 3: The Video Game
3                 Madagascar Kartz
4      Madagascar: Escape 2 Africa
...                            ...
1084                 Zumba Fitness
1085            Zumba Fitness Core
1086            Zumba Fitness Rush
1087    Zumba Fitness: World Party
1088                    Zumba Kids

[1089 rows x 1 columns]

In [7]:
# Concat titles
titles = pd.concat([titles, xbox360MZ_titles])
titles

                           Title
0          007: Agent Under Fire
1     007: Everything or Nothing
2     007: From Russia with Love
3                 007: Nightfire
4                187 Ride or Die
...                          ...
1084               Zumba Fitness
1085          Zumba Fitness Core
1086          Zumba Fitness Rush
1087  Zumba Fitness: World Party
1088                  Zumba Kids

[3079 rows x 1 columns]

In [8]:
# Scrape wiki site for xboxOne A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_One_games_(A%E2%80%93L)'
# Use pandas to read for tables
xboxOneAL_titles = pd.read_html(url)[1]['Title']
xboxOneAL_titles

                                Title
0                     #killallzombies
1                           #Wargames
2                 'n Verlore Verstand
3                   10 Second Ninja X
4                     101 Ways to Die
...                               ...
1285                    Lovely Planet
1286  Lovers in a Dangerous Spacetime
1287                           Lumini
1288                             Lumo
1289               Lumines Remastered

[1290 rows x 1 columns]

In [9]:
# Concat Titles
titles = pd.concat([titles, xboxOneAL_titles])
titles

                                Title
0               007: Agent Under Fire
1          007: Everything or Nothing
2          007: From Russia with Love
3                      007: Nightfire
4                     187 Ride or Die
...                               ...
1285                    Lovely Planet
1286  Lovers in a Dangerous Spacetime
1287                           Lumini
1288                             Lumo
1289               Lumines Remastered

[4369 rows x 1 columns]

In [10]:
# Scrape wiki site for xboxOne M through Z titles
url = 'https://en.wikipedia.org/wiki/List_of_Xbox_One_games_(M%E2%80%93Z)'
# Use pandas to read for tables
xboxOneMZ_titles = pd.read_html(url)[1]['Title']
xboxOneMZ_titles

                                       Title
0                           Mable & the Wood
1                                Machinarium
2                           Mad Games Tycoon
3                              Madden NFL 15
4                              Madden NFL 16
...                                      ...
1274                          Zombie Vikings
1275      Zombieland: Double Tap - Road Trip
1276                              Zoo Tycoon
1277  Zoo Tycoon: Ultimate Animal Collection
1278              Zumba Fitness: World Party

[1279 rows x 1 columns]

In [11]:
# Concat Titles
titles = pd.concat([titles, xboxOneMZ_titles])
titles

                                       Title
0                      007: Agent Under Fire
1                 007: Everything or Nothing
2                 007: From Russia with Love
3                             007: Nightfire
4                            187 Ride or Die
...                                      ...
1274                          Zombie Vikings
1275      Zombieland: Double Tap - Road Trip
1276                              Zoo Tycoon
1277  Zoo Tycoon: Ultimate Animal Collection
1278              Zumba Fitness: World Party

[5648 rows x 1 columns]

In [12]:
# Remove Duplicates for Xbox Titles
titles = titles.drop_duplicates().reset_index(drop=True)
titles

                                       Title
0                      007: Agent Under Fire
1                 007: Everything or Nothing
2                 007: From Russia with Love
3                             007: Nightfire
4                            187 Ride or Die
...                                      ...
5425                            Zombie Party
5426                          Zombie Pinball
5427                          Zombie Vikings
5428      Zombieland: Double Tap - Road Trip
5429  Zoo Tycoon: Ultimate Animal Collection

[5430 rows x 1 columns]

In [13]:
# Scrape wiki site for original playstation A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_games_(A%E2%80%93L)'
# Use pandas to read for tables
sonyAL_titles = pd.read_html(url)[0]['Title']
sonyAL_titles

                                            Title
0                                      007 Racing
1                    007: The World Is Not Enough
2                        007: Tomorrow Never Dies
3                          100 Manyen Quiz Hunter
4     101 Dalmatians II: Patch's London Adventure
...                                           ...
1467               Lunar 2: Eternal Blue Complete
1468              Lunar Wing: Toki o Koeta Seisen
1469                             Lunatic Dawn III
1470                         Lunatic Dawn Odyssey
1471      Lupin III: Chateau de Cagliostro Saikai

[1472 rows x 1 columns]

In [14]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sonyAL_titles]).drop_duplicates().reset_index(drop=True)
titles

                                        Title
0                       007: Agent Under Fire
1                  007: Everything or Nothing
2                  007: From Russia with Love
3                              007: Nightfire
4                             187 Ride or Die
...                                       ...
6875           Lunar 2: Eternal Blue Complete
6876          Lunar Wing: Toki o Koeta Seisen
6877                         Lunatic Dawn III
6878                     Lunatic Dawn Odyssey
6879  Lupin III: Chateau de Cagliostro Saikai

[6880 rows x 1 columns]

In [15]:
# Scrape wiki site for original playstation M through Z titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_games_(M%E2%80%93Z)'
# Use pandas to read for tables
sonyMZ_titles = pd.read_html(url)[0]['Title']
sonyMZ_titles

                                            Title
0                              M&Ms Shell Shocked
1               Machine Head•Blam! MachineheadPAL
2                                  Machine Hunter
3                    Macross Digital Mission VF-X
4                  Macross: Do You Remember Love?
...                                           ...
1609  Zoku Mikagura Shōjo Tanteidan ~Kanketsuhen~
1610                                         Zoop
1611         Zork I: The Great Underground Empire
1612               Zutto Issho: With me Everytime
1613                  ZXE-D: Legend of Plasmalite

[1614 rows x 1 columns]

In [16]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sonyMZ_titles]).drop_duplicates().reset_index(drop=True)
titles

                                            Title
0                           007: Agent Under Fire
1                      007: Everything or Nothing
2                      007: From Russia with Love
3                                  007: Nightfire
4                                 187 Ride or Die
...                                           ...
8464  Zoku Mikagura Shōjo Tanteidan ~Kanketsuhen~
8465                                         Zoop
8466         Zork I: The Great Underground Empire
8467               Zutto Issho: With me Everytime
8468                  ZXE-D: Legend of Plasmalite

[8469 rows x 1 columns]

In [17]:
# Scrape wiki site for original playstation2 A through K titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_2_games_(A%E2%80%93K)'
# Use pandas to read for tables
sony2AK_titles = pd.DataFrame(pd.read_html(url)[1]['Title'], columns=['Title'])
sony2AK_titles

                                                Title
0                       ¡Qué pasa Neng! El videojuego
1                                     .hack//frägment
2                           .hack//G.U.vol.1//Rebirth
3                         .hack//G.U.vol.2//Reminisce
4                        .hack//G.U.vol.3//Redemption
...                                               ...
2028                                  Kyojin no Hoshi
2029  Kyoufu Shinbun (Heisei-Han) Kaiki! Shinrei File
2030   Kyoushuu Kidou Butai: Kougeki Helicopter Senki
2031                     Kyuuketsu Hime Yui: Senyasyo
2032                         Kyuuketsu Kitan Moonties

[2033 rows x 1 columns]

In [18]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony2AK_titles]).drop_duplicates().reset_index(drop=True)
titles

                                                 Title
0                                007: Agent Under Fire
1                           007: Everything or Nothing
2                           007: From Russia with Love
3                                       007: Nightfire
4                                      187 Ride or Die
...                                                ...
10224                                  Kyojin no Hoshi
10225  Kyoufu Shinbun (Heisei-Han) Kaiki! Shinrei File
10226   Kyoushuu Kidou Butai: Kougeki Helicopter Senki
10227                     Kyuuketsu Hime Yui: Senyasyo
10228                         Kyuuketsu Kitan Moonties

[10229 rows x 1 columns]

In [19]:
# Scrape wiki site for original playstation2 L through Z titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_2_games_(L%E2%80%93Z)'
# Use pandas to read for tables
sony2LZ_titles = pd.DataFrame(pd.read_html(url)[1]['Title'], columns=['Title'])
sony2LZ_titles

                                                  Title
0                    L no Kisetsu 2: Invisible Memories
1                                             L.A. Rush
2                                       L2: Love x Loop
3      La Corda d'Oro•Kiniro no Corda: La Corda d'OroJP
4     La Pucelle: Tactics•La PucelleJP,KO•La Pucelle...
...                                                 ...
2455    Zone of the Enders•Z.O.E.: Zone of the EndersJP
2456  Zone of the Enders: The 2nd Runner•Anubis: Zon...
2457                  Zoo Puzzle•SuperLite 2000: ZoooJP
2458                                            ZooCube
2459                                             Zwei!!

[2460 rows x 1 columns]

In [20]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony2LZ_titles]).drop_duplicates().reset_index(drop=True)
titles

                                                   Title
0                                  007: Agent Under Fire
1                             007: Everything or Nothing
2                             007: From Russia with Love
3                                         007: Nightfire
4                                        187 Ride or Die
...                                                  ...
12236    Zone of the Enders•Z.O.E.: Zone of the EndersJP
12237  Zone of the Enders: The 2nd Runner•Anubis: Zon...
12238                  Zoo Puzzle•SuperLite 2000: ZoooJP
12239                                            ZooCube
12240                                             Zwei!!

[12241 rows x 1 columns]

In [21]:
# Scrape wiki site for playstation3 disc titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_3_games_released_on_disc'
# Use pandas to read for tables
sony3disc_titles = pd.read_html(url)[0]['Title']
sony3disc_titles

                                       Title
0          &: Sora no Mukō de Saki Masuyō ni
1                              .hack//Versus
2                                007 Legends
3                     007: Quantum of Solace
4           2010 FIFA World Cup South Africa
...                                      ...
1429                     You Don't Know Jack
1430                   Young Justice: Legacy
1431       Zone of the Enders: HD Collection
1432          Zumba Fitness – Join the Party
1433  Z/X – Crusade of the Absolute Boundary

[1434 rows x 1 columns]

In [22]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony3disc_titles]).drop_duplicates().reset_index(drop=True)
titles

                                        Title
0                       007: Agent Under Fire
1                  007: Everything or Nothing
2                  007: From Russia with Love
3                              007: Nightfire
4                             187 Ride or Die
...                                       ...
12876                Yoostar 2: In the Movies
12877                           Yorunonaikuni
12878       Zone of the Enders: HD Collection
12879          Zumba Fitness – Join the Party
12880  Z/X – Crusade of the Absolute Boundary

[12881 rows x 1 columns]

In [23]:
# Scrape wiki site for playstation3 download titles
url = 'https://en.wikipedia.org/wiki/List_of_download-only_PlayStation_3_games'
# Use pandas to read for tables
sony3download_titles = pd.read_html(url)[1]['Title']
sony3download_titles

                                    Title
0                         #killallzombies
1                             .detuned[1]
2                   1942: Joint Strike[2]
3                       3 on 3 NHL Arcade
4          3D Ultra Minigolf Adventures 2
..                                    ...
756    Zombie Apocalypse: Never Die Alone
757                      Zombie Driver HD
758  Zombie Tycoon II: Brainhov's Revenge
759                              Zuma [8]
760                       Zuma's Revenge!

[761 rows x 1 columns]

In [24]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony3download_titles]).drop_duplicates().reset_index(drop=True)
titles

                                      Title
0                     007: Agent Under Fire
1                007: Everything or Nothing
2                007: From Russia with Love
3                            007: Nightfire
4                           187 Ride or Die
...                                     ...
13326                      Zen Pinball[124]
13327                         Zen Pinball 2
13328                               Zombeer
13329  Zombie Tycoon II: Brainhov's Revenge
13330                              Zuma [8]

[13331 rows x 1 columns]

In [25]:
# Scrape wiki site for playstation4 A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_4_games'
# Use pandas to read for tables
sony4AL_titles = pd.read_html(url)[1]['Title']
sony4AL_titles

                                Title
0                            #Funtime
1                     #killallzombies
2                   10 Second Ninja X
3                    100ft Robot Golf
4                     101 Ways to Die
...                               ...
1440  Lovers in a Dangerous Spacetime
1441               Lumines Remastered
1442                           Lumini
1443                             Lumo
1444                             Luna

[1445 rows x 1 columns]

In [26]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony4AL_titles]).drop_duplicates().reset_index(drop=True)
titles

                                                   Title
0                                  007: Agent Under Fire
1                             007: Everything or Nothing
2                             007: From Russia with Love
3                                         007: Nightfire
4                                        187 Ride or Die
...                                                  ...
13970                                    Lost Soul Aside
13971                                        Lost Sphear
13972                        Lost Words: Beyond the Page
13973  Love Live! School Idol Festival: After School ...
13974                                               Luna

[13975 rows x 1 columns]

In [27]:
# Scrape wiki site for playstation4 A through L titles
url = 'https://en.wikipedia.org/wiki/List_of_PlayStation_4_games_(M%E2%80%93Z)'
# Use pandas to read for tables
sony4MZ_titles = pd.read_html(url)[1]['Title']
sony4MZ_titles

                                          Title
0                                   Machinarium
1                                       Mad Max
2                                 Madden NFL 15
3                                 Madden NFL 16
4                                 Madden NFL 17
...                                         ...
1429                    Zombie Army 4: Dead War
1430            Zombie Driver: Immortal Edition
1431                             Zombie Vikings
1432  Zone of the Enders: The 2nd Runner – Mars
1433                                     Zotrix

[1434 rows x 1 columns]

In [28]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, sony4MZ_titles]).drop_duplicates().reset_index(drop=True)
titles

                                           Title
0                          007: Agent Under Fire
1                     007: Everything or Nothing
2                     007: From Russia with Love
3                                 007: Nightfire
4                                187 Ride or Die
...                                          ...
14570                                Zero Strain
14571                          Zero Time Dilemma
14572            Zombie Driver: Immortal Edition
14573  Zone of the Enders: The 2nd Runner – Mars
14574                                     Zotrix

[14575 rows x 1 columns]

In [29]:
# Scrape wiki site for SNES titles
url = 'https://en.wikipedia.org/wiki/List_of_Super_Nintendo_Entertainment_System_games'
# Use pandas to read for tables
snes_titles = pd.read_html(url)[0]['Title']
snes_titles

                                   Title
0                     3 Ninjas Kick Back
1                   3rd Super Robot Wars
2                    3×3 Eyes Jūma hōkan
3               3×3 Eyes Seima kōrin-den
4                            4 Nin Shōgi
...                                  ...
1752          Zoku: The Legend of Bishin
1753  Zombies Ate My Neighbors•ZombiesEU
1754                    Zoo-tto Mahjong!
1755  Zool: Ninja of the "Nth" Dimension
1756                                Zoop

[1757 rows x 1 columns]

In [30]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, snes_titles]).drop_duplicates().reset_index(drop=True)
titles

                                          Title
0                         007: Agent Under Fire
1                    007: Everything or Nothing
2                    007: From Russia with Love
3                                007: Nightfire
4                               187 Ride or Die
...                                         ...
16242  Zig Zag Cat: Ostrich Club mo Oosawagi da
16243                Zoku: The Legend of Bishin
16244        Zombies Ate My Neighbors•ZombiesEU
16245                          Zoo-tto Mahjong!
16246        Zool: Ninja of the "Nth" Dimension

[16247 rows x 1 columns]

In [31]:
# Scrape wiki site for N64 titles
url = 'https://en.wikipedia.org/wiki/List_of_Nintendo_64_games'
# Use pandas to read for tables
n64_titles = pd.DataFrame(pd.read_html(url)[1]['Title[11][12][13][14]'])
n64_titles.columns = ['Title']
n64_titles

                                                 Title
0                                   1080° Snowboarding
1    64 de Hakken!! Tamagotchi: Minna de Tamagotchi...
2                      64 Hanafuda: Tenshi no Yakusoku
3                                             64 Ozumo
4                                           64 Ozumo 2
..                                                 ...
388                              WWF Wrestlemania 2000
389  Xena: Warrior Princess - The Talisman of FateX...
390                          Yakochu II: Satsujin Koro
391                         Yoshi's StoryYoshi StoryJP
392                         Zoor: Majū Tsukai Densetsu

[393 rows x 1 columns]

In [32]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, n64_titles]).drop_duplicates().reset_index(drop=True)
titles

                                                   Title
0                                  007: Agent Under Fire
1                             007: Everything or Nothing
2                             007: From Russia with Love
3                                         007: Nightfire
4                                        187 Ride or Die
...                                                  ...
16554                              WWF Wrestlemania 2000
16555  Xena: Warrior Princess - The Talisman of FateX...
16556                          Yakochu II: Satsujin Koro
16557                         Yoshi's StoryYoshi StoryJP
16558                         Zoor: Majū Tsukai Densetsu

[16559 rows x 1 columns]

In [33]:
# Scrape wiki site for GameCube titles
url = 'https://en.wikipedia.org/wiki/List_of_GameCube_games'
# Use pandas to read for tables
gamecube_titles = pd.read_html(url)[1]['Title[2][3][4][5][6][7][8][9]']
gamecube_titles.columns = ['Title']
gamecube_titles

                                                Title
0                                     1080° Avalanche
1                    18 Wheeler: American Pro Trucker
2                                 2002 FIFA World Cup
3    2006 FIFA World Cup•FIFA World Cup: Germany 2006
4                                           4x4 EVO 2
..                                                ...
653                                         Zoids Vs.
654                                     Zoids Vs. III
655                             Zoids: Battle Legends
656                           Zoids: Full Metal Crash
657                                           ZooCube

[658 rows x 1 columns]

In [34]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, gamecube_titles]).drop_duplicates().reset_index(drop=True)
titles

                            Title
0           007: Agent Under Fire
1      007: Everything or Nothing
2      007: From Russia with Love
3                  007: Nightfire
4                 187 Ride or Die
...                           ...
16842     Zatch Bell! Mamodo Fury
16843                   Zoids Vs.
16844               Zoids Vs. III
16845       Zoids: Battle Legends
16846     Zoids: Full Metal Crash

[16847 rows x 1 columns]

In [35]:
# Scrape wiki site for Wii titles
url = 'https://en.wikipedia.org/wiki/List_of_Wii_games'
# Use pandas to read for tables
wii_titles = pd.read_html(url)[0]['Title']
wii_titles

                              Title
0            The $1,000,000 Pyramid
1            007: Quantum of Solace
2                10 Minute Solution
3            101-in-1 Party Megamix
4     101-in-1 Sports Party Megamix
...                             ...
1541  Zumba Fitness: Join the Party
1542                Zumba Fitness 2
1543             Zumba Fitness Core
1544     Zumba Fitness: World Party
1545                     Zumba Kids

[1546 rows x 1 columns]

In [36]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, wii_titles]).drop_duplicates().reset_index(drop=True)
titles

                                                   Title
0                                  007: Agent Under Fire
1                             007: Everything or Nothing
2                             007: From Russia with Love
3                                         007: Nightfire
4                                        187 Ride or Die
...                                                  ...
17894                         Zero: Tsukihami no KamenJP
17895  ZhuZhu Pets: Featuring The Wild Bunch•ZhuZhu P...
17896                                       Zoo Hospital
17897                      Zumba Fitness: Join the Party
17898                                    Zumba Fitness 2

[17899 rows x 1 columns]

In [37]:
# Scrape wiki site for gameboy titles
url = 'https://en.wikipedia.org/wiki/List_of_Game_Boy_games'
# Use pandas to read for tables
gameboy_titles = pd.read_html(url)[0]['Title']
gameboy_titles

                                                  Title
0     3 Choume no Tama: Tama and Friends – 3 Choume ...
1                                3-Pun Yosō Umaban Club
2                                        4-in-1 Fun Pak
3                              4-in-1 Funpak: Volume II
4                      99 Nendohan: Eitango Center 1500
...                                                 ...
1051                           Zen: Intergalactic Ninja
1052                            Zettai Muteki Raijin-Oh
1053                                     Zoids Densetsu
1054                 Zool: Ninja of the "Nth" Dimension
1055                                               Zoop

[1056 rows x 1 columns]

In [38]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, gameboy_titles]).drop_duplicates().reset_index(drop=True)
titles

                                 Title
0                007: Agent Under Fire
1           007: Everything or Nothing
2           007: From Russia with Love
3                       007: Nightfire
4                      187 Ride or Die
...                                ...
18796  Z-Kai Kyuukyoku no Eitango 1500
18797     Zen-Nippon Pro Wrestling Jet
18798         Zen: Intergalactic Ninja
18799          Zettai Muteki Raijin-Oh
18800                   Zoids Densetsu

[18801 rows x 1 columns]

In [39]:
# Scrape wiki site for gameboy color titles
url = 'https://en.wikipedia.org/wiki/List_of_Game_Boy_Color_games'
# Use pandas to read for tables
gameboyColor_titles = pd.DataFrame(pd.read_html(url)[0]['Title[4][5][6][7]'])
gameboyColor_titles.columns = ['Title']
gameboyColor_titles

                                       Title
0               007: The World Is Not Enough
1                             3D Pocket Pool
2               3D Ultra Pinball: Thrillride
3                             10 Pin Bowling
4                                       1942
..                                       ...
660                           Zebco Fishing!
661              Zidane: Football Generation
662        Zoboomafoo: Playtime in Zobooland
663  Zoids: Jashin Fukkatsu! Genobreaker Hen
664  Zoids: Shirogane no Jukishin Liger Zero

[665 rows x 1 columns]

In [40]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, gameboyColor_titles]).drop_duplicates().reset_index(drop=True)
titles

                                         Title
0                        007: Agent Under Fire
1                   007: Everything or Nothing
2                   007: From Russia with Love
3                               007: Nightfire
4                              187 Ride or Die
...                                        ...
19305                           Zebco Fishing!
19306              Zidane: Football Generation
19307        Zoboomafoo: Playtime in Zobooland
19308  Zoids: Jashin Fukkatsu! Genobreaker Hen
19309  Zoids: Shirogane no Jukishin Liger Zero

[19310 rows x 1 columns]

In [41]:
# Scrape wiki site for gameboy advance titles
url = 'https://en.wikipedia.org/wiki/List_of_Game_Boy_Advance_games'
# Use pandas to read for tables
gameboyAdvance_titles = pd.DataFrame(pd.read_html(url)[2]['Title(s)[3]'])
gameboyAdvance_titles.columns = ['Title']
gameboyAdvance_titles

                                                  Title
0     007: Everything or Nothing•James Bond 007: Eve...
1                                        007: Nightfire
2     3-in-1 Sports Pack: Paintball Splat! / Dodgeba...
3                                    A Sound of Thunder
4                                    Ace Combat Advance
...                                                 ...
1498                                         Zoids Saga
1499                                 Zoids Saga: Fuzors
1500  Zone of the Enders: The Fist of Mars•Zone of t...
1501                                            ZooCube
1502  Zooo: Action Puzzle Game•Minna no Soft Series:...

[1503 rows x 1 columns]

In [42]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, gameboyAdvance_titles]).drop_duplicates().reset_index(drop=True)
titles

                                                   Title
0                                  007: Agent Under Fire
1                             007: Everything or Nothing
2                             007: From Russia with Love
3                                         007: Nightfire
4                                        187 Ride or Die
...                                                  ...
20501                       Zoids Legacy•Zoids Saga IIJP
20502                                         Zoids Saga
20503                                 Zoids Saga: Fuzors
20504  Zone of the Enders: The Fist of Mars•Zone of t...
20505  Zooo: Action Puzzle Game•Minna no Soft Series:...

[20506 rows x 1 columns]

In [43]:
# Scrape wiki site for gameboy advance titles
url = 'https://en.wikipedia.org/wiki/List_of_Nintendo_DS_games'
# Use pandas to read for tables
nDS_titles = pd.DataFrame(pd.read_html(url)[0]['Title'])
nDS_titles

                            Title
0          007: Quantum of Solace
1                       1 vs. 100
2                       1 vs. 100
3          100 All-Time Favorites
4               100 Classic Books
...                           ...
2000                Zoo Tycoon DS
2001              Zoo Tycoon 2 DS
2002  Zoo Vet: Endangered Animals
2003                         Zubo
2004              Zuma's Revenge!

[2005 rows x 1 columns]

In [44]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, nDS_titles]).drop_duplicates().reset_index(drop=True)
titles

                             Title
0            007: Agent Under Fire
1       007: Everything or Nothing
2       007: From Russia with Love
3                   007: Nightfire
4                  187 Ride or Die
...                            ...
22063                   Zoo Keeper
22064                Zoo Tycoon DS
22065              Zoo Tycoon 2 DS
22066  Zoo Vet: Endangered Animals
22067                         Zubo

[22068 rows x 1 columns]

In [45]:
# Scrape wiki site for n3DS titles
url = 'https://en.wikipedia.org/wiki/List_of_Nintendo_3DS_games'
# Use pandas to read for tables
n3DS_titles = pd.DataFrame(pd.read_html(url)[0]['Title'])
n3DS_titles

                                          Title
0                    10-in-1: Arcade Collection
1     100% Pascal Sensei: Kanpeki Paint Bombers
2                          1000m Zombie Escape!
3                                   1001 Spikes
4                               101 DinoPets 3D
...                                         ...
1340  Zeus Quest Remastered Anagenissis of Gaia
1341                                 Zig Zag Go
1342                            Zombie Incident
1343                         Zombie Slayer Diox
1344                              Zoo Resort 3D

[1345 rows x 1 columns]

In [46]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, n3DS_titles]).drop_duplicates().reset_index(drop=True)
titles

                                           Title
0                          007: Agent Under Fire
1                     007: Everything or Nothing
2                     007: From Russia with Love
3                                 007: Nightfire
4                                187 Ride or Die
...                                          ...
23244  Zeus Quest Remastered Anagenissis of Gaia
23245                                 Zig Zag Go
23246                            Zombie Incident
23247                         Zombie Slayer Diox
23248                              Zoo Resort 3D

[23249 rows x 1 columns]

In [47]:
# Scrape wiki site for atari2600 titles
url = 'https://en.wikipedia.org/wiki/List_of_Atari_2600_games'
# Use pandas to read for tables
atari2600_titles = pd.DataFrame(pd.read_html(url)[1]['Atari title'])
atari2600_titles.columns = ['Title']
atari2600_titles

               Title
0            32 in 1
1    3-D Tic-Tac-Toe
2         Action Pak
3          Adventure
4     Air-Sea Battle
..               ...
131   Video Olympics
132    Video Pinball
133         Warlords
134        Xenophobe
135    Yars' Revenge

[136 rows x 1 columns]

In [48]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, atari2600_titles]).drop_duplicates().reset_index(drop=True)
titles

                            Title
0           007: Agent Under Fire
1      007: Everything or Nothing
2      007: From Russia with Love
3                  007: Nightfire
4                 187 Ride or Die
...                           ...
23352              Video Checkers
23353                 Video Chess
23354              Video Olympics
23355               Video Pinball
23356                   Xenophobe

[23357 rows x 1 columns]

In [49]:
# Scrape wiki site for segaGenisis titles
url = 'https://en.wikipedia.org/wiki/List_of_Sega_Genesis_games'
# Use pandas to read for tables
segaGenisis_titles = pd.read_html(url)[1]['Title(s)[12][13][14]']
segaGenisis_titles.columns = ['Title']
segaGenisis_titles

                                  Title
0                    3 Ninjas Kick Back
1                        688 Attack Sub
2                     A Dinosaur's Tale
3                   A Ressha de Ikou MD
4                Aaahh!!! Real Monsters
..                                  ...
899       Zhuo Guǐ Dà Shi: Ghost Hunter
900  Zombies Ate My NeighborsZombies EU
901                                Zool
902                               Zoom!
903                                Zoop

[904 rows x 1 columns]

In [50]:
# Concat Titles and Remove Duplicates 
titles = pd.concat([titles, segaGenisis_titles]).drop_duplicates().reset_index(drop=True)
titles

                                    Title
0                   007: Agent Under Fire
1              007: Everything or Nothing
2              007: From Russia with Love
3                          007: Nightfire
4                         187 Ride or Die
...                                   ...
23992                           Zero Wing
23993       Zhuo Guǐ Dà Shi: Ghost Hunter
23994  Zombies Ate My NeighborsZombies EU
23995                                Zool
23996                               Zoom!

[23997 rows x 1 columns]

In [51]:
# Remove Bad Title Formats
formatted = []

for i in range(len(titles)):
    sep = '•'
    text = titles.iloc[i]['Title']
    text = text.split(sep, 1)[0]
    sep = '['
    text = text.split(sep, 1)[0]
    sep = '-'
    text = text.split(sep, 1)[0]
    sep = '['
    text = text.split(sep, 1)[0]
    sep = '–'
    text = text.split(sep, 1)[0]
    sep = '('
    text = text.split(sep, 1)[0]
    formatted.append(text)

formatted

['007: Agent Under Fire',
 '007: Everything or Nothing',
 '007: From Russia with Love',
 '007: Nightfire',
 '187 Ride or Die',
 '2002 FIFA World Cup',
 '25 To Life',
 '4x4 EVO 2',
 '50 Cent: Bulletproof',
 'Advent Rising',
 'Æon Flux',
 'AFL Live 2003',
 'AFL Live 2004',
 'AFL Live Premiership Edition',
 'AFL Premiership 2005',
 'Aggressive Inline',
 'Airforce Delta Storm Deadly Skies ',
 'Alias',
 'Alien Hominid',
 'Aliens Versus Predator: Extinction',
 'Alfa Romeo Racing Italiano SCAR\xa0: Squadra Corse Alfa Romeo ',
 'All',
 'All',
 'All',
 'Alter Echo',
 "America's Army: Rise of a Soldier",
 'American Chopper',
 'American Chopper 2: Full Throttle',
 'AMF Bowling 2004',
 'AMF Xtreme Bowling 2006',
 'Amped: Freestyle Snowboarding',
 'Amped 2 Tenku 2 ',
 'AND 1 Streetball',
 'Angelic Concert ',
 'Animaniacs: The Great Edgar Hunt',
 'Antz Extreme Racing',
 'Aoi Namida ',
 'APEX Racing Evoluzione ',
 'Aquaman: Battle for Atlantis',
 'Arctic Thunder',
 'Area 51',
 'Arena Football',
 'Armed and Dangerous',
 'Army Men: Major Malfunction',
 "Army Men: Sarge's War",
 'Arx Fatalis',
 'Atari Anthology',
 'ATV Quad Power Racing 2',
 'Auto Modellista',
 'Avatar: The Last Airbender',
 'Azurik: Rise of Perathia',
 "Backyard Wrestling: Don't Try This at Home",
 'Backyard Wrestling 2: There Goes the Neighborhood',
 'Bad Boys: Miami Takedown Bad Boys II ',
 "Baldur's Gate: Dark Alliance",
 "Baldur's Gate: Dark Alliance II",
 'Barbarian',
 'Barbie Horse Adventures: Wild Horse Rescue',
 "The Bard's Tale",
 'Bass Pro Shops: Trophy Bass 2007',
 'Bass Pro Shops Trophy Hunter 2007',
 'Batman Begins',
 'Batman: Dark Tomorrow',
 'Batman: Rise of Sin Tzu',
 'Batman Vengeance',
 'Battle Engine Aquila',
 'Battlefield 2: Modern Combat',
 'Battlestar Galactica',
 'Beat Down: Fists of Vengeance',
 'Beyond Good & Evil',
 'The Bible Game',
 'Bicycle Casino',
 "Big Bumpin'",
 'Big Mutha Truckers',
 'Big Mutha Truckers 2',
 'Bionicle',
 'Bistro Cupid ',
 'Bistro Cupid 2',
 'Black',
 'Black Stone: Magic & Steel Ex',
 'Blade II',
 'Blazing Angels: Squadrons of WWII',
 'Blinx: The Time Sweeper',
 'Blinx 2: Masters of Time and Space Blinx 2: Battle of Time and Space ',
 'Blitz: The League',
 'Blood Omen 2',
 'Blood Wake',
 'BloodRayne',
 'BloodRayne 2',
 'Bloody Roar Extreme',
 'BlowOut',
 'BMX XXX',
 'Braveknight',
 'Break Nine: World Billiards Tournament',
 'Breakdown',
 "Breeders' Cup World Thoroughbred Championships",
 'Brian Lara International Cricket 2005',
 'Broken Sword: The Sleeping Dragon',
 'Brothers in Arms: Earned in Blood',
 'Brothers in Arms: Road to Hill 30',
 'Bruce Lee: Quest of the Dragon',
 'Brute Force',
 'Buffy the Vampire Slayer',
 'Buffy the Vampire Slayer: Chaos Bleeds',
 'Burnout',
 'Burnout 2: Point of Impact',
 'Burnout 3: Takedown',
 'Burnout Revenge',
 'C.A.T.: Cyber Attack Team',
 "Cabela's Big Game Hunter 2005 Adventures",
 "Cabela's Dangerous Hunts",
 "Cabela's Dangerous Hunts 2",
 "Cabela's Deer Hunt: 2004 Season",
 "Cabela's Deer Hunt: 2005 Season",
 "Cabela's Outdoor Adventures",
 'Call of Cthulhu: Dark Corners of the Earth',
 'Call of Duty: Finest Hour',
 'Call of Duty 2: Big Red One',
 'Call of Duty 3',
 'Capcom Classics Collection Vol. 1',
 'Capcom Classics Collection Vol. 2',
 'Capcom Fighting Evolution Capcom Fighting Jam ',
 'Capcom vs. SNK 2 EO',
 'Carmen Sandiego: The Secret of the Stolen Drums',
 'Cars',
 'Carve',
 'Castlevania: Curse of Darkness Akumajo Dracula: Yami no Juin ',
 'Catwoman',
 'Cel Damage',
 'Celebrity Deathmatch',
 'Championship Bowling',
 'Championship Manager: Season 01/02',
 'Championship Manager: Season 02/03',
 'Championship Manager 2006',
 'Championship Manager 5',
 'Charlie and the Chocolate Factory',
 'Chase: Hollywood Stunt Driver',
 'Chessmaster 10th Edition',
 'Chicago Enforcer',
 'Chicken Little',
 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe',
 'The Chronicles of Riddick: Escape from Butcher Bay',
 'Circus Maximus: Chariot Wars',
 'Classified: The Sentinel Crisis',
 'Close Combat: First to Fight',
 'Club Football',
 'Club Football 2005',
 'Codename: Kids Next Door ',
 'Cold Fear',
 'Cold War',
 'Colin McRae Rally 04',
 'Colin McRae Rally 2005',
 'Colin McRae Rally 3',
 'College Hoops 2K6',
 'College Hoops 2K7',
 'Combat Elite: WWII Paratroopers',
 'Combat: Task Force 121',
 'Commandos: Strike Force',
 'Commandos 2: Men of Courage',
 'Conan',
 'Conflict: Desert Storm',
 'Conflict: Desert Storm II: Back to Baghdad',
 'Conflict: Global Terror',
 'Conflict: Vietnam',
 'Conker: Live & Reloaded',
 'Conspiracy: Weapons of Mass Destruction',
 'Constantine',
 'Corvette',
 'Counter',
 'Crash Bandicoot: The Wrath of Cortex',
 "Crash 'n' Burn",
 'Crash Nitro Kart',
 'Crash Tag Team Racing',
 'Crash Twinsanity',
 'Crazy Taxi 3: High Roller',
 'Cricket 2005',
 'Crime Life: Gang Wars',
 'Crimson Sea',
 'Crimson Skies: High Road to Revenge',
 'Crouching Tiger, Hidden Dragon',
 'Crusty Demons',
 'CSI: Crime Scene Investigation',
 'Curious George',
 'Curse: The Eye of Isis',
 'The Da Vinci Code',
 'Daemon Vector',
 'Dai Senryaku VII: Modern Military Tactics Daisenryaku VII ',
 "Dakar 2: The World's Ultimate Rally",
 'Dance Dance Revolution Ultramix Dance Stage Unleashed ',
 'Dance Dance Revolution Ultramix 2 Dance Stage Unleashed 2 ',
 'Dance Dance Revolution Ultramix 3 Dance Stage Unleashed 3 ',
 'Dance Dance Revolution Ultramix 4',
 'Dance: UK',
 'Dark Summit',
 'Darkwatch',
 'Dave Mirra Freestyle BMX 2',
 'David Beckham Soccer',
 "Dead Man's Hand",
 'Dead or Alive 3',
 'Dead or Alive Ultimate',
 'Dead or Alive Xtreme Beach Volleyball',
 'Dead to Rights',
 'Dead to Rights II',
 'Deathrow',
 'Def Jam: Fight for NY',
 'Defender',
 'Delta Force: Black Hawk Down',
 'Dennou Taisen: DroneZ',
 'Destroy All Humans!',
 'Destroy All Humans! 2',
 'Deus Ex: Invisible War',
 'Die Hard: Vendetta',
 'Digimon Rumble Arena 2',
 'Digimon World 4 Dejimon Warudo X ',
 'Dino Crisis 3',
 'Dinosaur Hunting',
 'Dinotopia: The Sunstone Odyssey',
 "Disney's Extreme Skate Adventure",
 'Doom 3',
 'Doom 3: Resurrection of Evil',
 'Double',
 'Dr. Muto',
 "Dr. Seuss' The Cat in the Hat",
 'Dragon Ball Z: Sagas',
 "Dragon's Lair 3D: Return to the Lair",
 'Drake of the 99 Dragons',
 'Dreamfall: The Longest Journey',
 'Drihoo ',
 'Mashed: Drive to Survive',
 'DRIV3R',
 'Driver: Parallel Lines',
 'The Dukes of Hazzard: Return of the General Lee',
 'Dungeons & Dragons: Heroes',
 'Dynasty Warriors 3 Shin Sangokumusou 2 ',
 'Dynasty Warriors 4 Shin Sangokumusou 3 ',
 'Dynasty Warriors 5 Shin Sangokumusou 4 ',
 'Ed, Edd n Eddy: The Mis',
 'Egg Mania: Eggstreme Madness',
 'The Elder Scrolls III: Morrowind',
 'Enclave',
 'England International Football',
 'Enter the Matrix',
 'Eragon',
 'ESPN College Hoops',
 'ESPN College Hoops 2K5',
 'ESPN International Winter Sports 2002',
 'ESPN Major League Baseball',
 'ESPN MLS ExtraTime 2002',
 'ESPN NBA 2K5',
 'ESPN NBA 2Night 2002',
 'ESPN NBA Basketball',
 'ESPN NFL 2K5',
 'ESPN NFL Football',
 'ESPN NFL PrimeTime 2002',
 'ESPN NHL 2K5',
 'ESPN NHL Hockey',
 'ESPN Winter X',
 'Evil Dead: A Fistful of Boomstick',
 'Evil Dead: Regeneration',
 'ExaSkeleton',
 'F1 2001',
 'F1 2002',
 'F1 Career Challenge',
 'Fable',
 'Fable: The Lost Chapters',
 "The Fairly OddParents: Breakin' Da Rules",
 'Fallout: Brotherhood of Steel',
 'Family Guy Video Game!',
 'Fantastic 4',
 'Far Cry Instincts',
 'Far Cry Instincts: Evolution',
 'Fatal Frame Project Zero ',
 'Fatal Frame II: Crimson Butterfly Project Zero II: Crimson Butterfly ',
 'FIFA 06 Soccer',
 'FIFA 07',
 'FIFA Football 2003',
 'FIFA Football 2004',
 'FIFA 2005',
 'FIFA Street',
 'FIFA Street 2',
 'FIFA World Cup: Germany 2006',
 'Fight Club',
 'Fight Night 2004',
 'Fight Night Round 2',
 'Fight Night: Round 3',
 'FILA World Tour Tennis',
 'Final Fight: Streetwise',
 'Finding Nemo',
 'Fire Blade',
 'FlatOut',
 'FlatOut 2',
 'Flight Academy',
 'Ford Bold Moves Street Racing',
 'Ford Mustang: The Legend Lives',
 'Ford Racing 2',
 'Ford Racing 3',
 'Ford vs. Chevy',
 'Forgotten Realms: Demon Stone',
 'Forza Motorsport',
 'Freaky Flyers',
 'Freedom Fighters',
 'Freestyle MetalX',
 'Freestyle Street Soccer',
 'Frogger Beyond',
 'Frogger: Ancient Shadow',
 'Full Spectrum Warrior',
 'Full Spectrum Warrior: Ten Hammers',
 'Furious Karting',
 'Futurama',
 'Future Tactics: The Uprising',
 'Fuzion Frenzy',
 'Galaxy Angel',
 'Galleon',
 'Gauntlet: Dark Legacy',
 'Gauntlet: Seven Sorrows',
 'Gene Troopers',
 'Genma Onimusha',
 'Ghost Master: The Gravenville Chronicles',
 'Gladiator: Sword of Vengeance',
 'Gladius',
 'Goblin Commander: Unleash the Horde',
 'The Godfather: The Game',
 'Godzilla: Destroy All Monsters Melee',
 'Godzilla: Save the Earth',
 'GoldenEye: Rogue Agent',
 'Gotcha!',
 'Grabbed by the Ghoulies',
 'Grand Theft Auto III',
 'Grand Theft Auto: Double Pack',
 'Grand Theft Auto: San Andreas',
 'Grand Theft Auto: The Trilogy',
 'Grand Theft Auto: Vice City',
 'Gravity Games Bike: Street. Vert. Dirt.',
 'The Great Escape',
 'Greg Hastings Tournament Paintball',
 "Greg Hastings' Tournament Paintball Max'd",
 'Grooverider: Slot Car Thunder',
 'Group S Challenge CIRCUS DRIVE ',
 'Guilty Gear Isuka',
 'Guilty Gear X2#Reload',
 'Gun',
 'Gun Metal',
 'GunGriffon: Allied Strike',
 'Gunvalkyrie',
 'The Guy Game',
 'Half',
 'Halo: Combat Evolved',
 'Halo 2',
 'Halo 2 Multiplayer Map Pack',
 'Halo Triple Pack',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Prisoner of Azkaban',
 "Harry Potter and the Sorcerer's Stone Harry Potter and the Philosopher's Stone ",
 'Harry Potter: Quidditch World Cup',
 'The Haunted Mansion',
 'Headhunter Redemption',
 'Hello Kitty: Roller RescueHello Kitty: Mission Rescue ',
 'Heroes of the Pacific',
 'High Heat Major League Baseball 2004',
 'High Rollers Casino',
 'Hitman: Blood Money',
 'Hitman: Contracts',
 'Hitman 2: Silent Assassin',
 'The Hobbit',
 'Hot Wheels: Stunt Track Challenge',
 'The House of the Dead III',
 'Hulk',
 'Hummer Badlands',
 'Hunter: The Reckoning',
 'Hunter: The Reckoning: Redeemer',
 'The Hustle: Detroit Streets',
 'I',
 'Ice Age 2: The Meltdown',
 'IHRA Drag Racing 2004',
 'IHRA Drag Racing: Sportsman Edition',
 'IHRA Professional Drag Racing 2005',
 'Innocent Tears',
 'The Incredible Hulk: Ultimate Destruction',
 'The IncrediblesMr. Incredible ',
 'The Incredibles: Rise of the Underminer',
 "Indiana Jones and the Emperor's Tomb",
 'Indigo Prophecy Fahrenheit ',
 'IndyCar Series',
 'IndyCar Series 2005',
 'Inside Pitch 2003',
 'The Italian Job',
 'Intellivision Lives!',
 'International Superstar Soccer 2',
 'Iron Phoenix',
 'Jacked',
 'Jade Empire',
 "James Cameron's Dark Angel",
 'Jaws Unleashed',
 'Jet Set Radio Future',
 'Jikkyou World Soccer 2002',
 "Jockey's Road",
 'Judge Dredd: Dredd Vs. Death',
 'Juiced',
 'Jurassic Park: Operation Genesis',
 'Just Cause',
 'Justice League Heroes',
 'Kabuki Warriors',
 'Kakuto Chojin',
 'Kao the Kangaroo: Round 2',
 'Karaoke Revolution',
 'Karaoke Revolution Party',
 "Kelly Slater's Pro Surfer",
 'Kikou Heidan J',
 'Kill Switch',
 'King Arthur',
 'Kingdom Under Fire: Heroes',
 'Kingdom Under Fire: The Crusaders',
 'The King of Fighters 02/03',
 'The King of Fighters 2002',
 'The King of Fighters 2003',
 'The King of Fighters Neowave',
 'The King of Fighters: Maximum Impact',
 "Knight's Apprentice: Memorick's Adventures",
 'Knights of the Temple: Infernal Crusade',
 'Knights of the Temple II',
 'Knockout Kings 2002',
 'Kung Fu Chaos',
 'L.A. Rush',
 "Land of the Dead: Road to Fiddler's Green",
 'Largo Winch: Empire Under Threat',
 'Legacy of Kain: Defiance',
 'The Legend of Spyro: A New Beginning',
 'Legends of Wrestling',
 'Legends of Wrestling II',
 'Lego Star Wars: The Video Game',
 'Lego Star Wars II: The Original Trilogy',
 'Leisure Suit Larry: Magna Cum Laude',
 "Lemony Snicket's A Series of Unfortunate Events",
 'Links 2004',
 'LMA Manager 2003',
 'LMA Manager 2004',
 'LMA Manager 2005',
 'LMA Manager 2006',
 'Loons: The Fight for Fame',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Lord of the Rings: The Return of the King',
 'The Lord of the Rings: The Third Age',
 'The Lord of the Rings: The Two Towers',
 'Lotus Challenge',
 'Mace Griffin: Bounty Hunter',
 'Mad Dash Racing',
 'Madagascar',
 'Madden NFL 06',
 'Madden NFL 07',
 'Madden NFL 08',
 'Madden NFL 09',
 'Madden NFL 2002',
 'Madden NFL 2003',
 'Madden NFL 2004',
 'Madden NFL 2005',
 'Mafia: The City of Lost Heaven',
 'Magatama',
 'Magic the Gathering: Battlegrounds',
 'Magi Death Fight: Mahou Gakuen',
 'Major League Baseball 2K5',
 'Major League Baseball 2K6',
 'Major League Baseball 2K7',
 'Malice',
 'Manchester United Manager 2005',
 'Manhunt',
 "Marc Ecko's Getting Up: Contents Under Pressure",
 'Marvel: Ultimate Alliance',
 'Marvel Nemesis: Rise of the Imperfects',
 'Marvel vs. Capcom 2',
 'Mashed: Fully Loaded',
 "Mat Hoffman's Pro BMX 2",
 'The Matrix: Path of Neo',
 'Max Payne',
 'Max Payne 2: The Fall of Max Payne',
 'Maximum Chase',
 'MechAssault',
 'MechAssault 2: Lone Wolf',
 'Medal of Honor: European Assault',
 'Medal of Honor: Frontline',
 'Medal of Honor: Rising Sun',
 'Mega Man Anniversary Collection',
 'Melbourne Cup Challenge Frankie Dettori Racing ',
 'Men of Valor',
 'Mercenaries: Playground of Destruction',
 'Metal Arms: Glitch in the System',
 'Metal Dungeon',
 'Metal Gear Solid 2: Substance',
 'Metal Slug 3',
 'Metal Slug 4',
 'Metal Slug 5',
 'Metal Wolf Chaos',
 'Miami Vice',
 'Micro Machines',
 'Midnight Club II',
 'Midnight Club 3: DUB Edition',
 'Midnight Club 3: DUB Edition Remix',
 'Midtown Madness 3',
 'Midway Arcade Treasures',
 'Midway Arcade Treasures 2',
 'Midway Arcade Treasures 3',
 'Mike Tyson Heavyweight Boxing',
 'Minority Report: Everybody Runs',
 'Mission Impossible: Operation Surma',
 'MLB Slugfest 2003',
 'MLB Slugfest 2004',
 'MLB Slugfest 2006',
 'MLB Slugfest: Loaded',
 'Mojo!',
 'Monopoly Party',
 'Monster 4x4: World Circuit',
 'Monster Garage',
 'Mortal Kombat: Armageddon',
 'Mortal Kombat: Deadly Alliance',
 'Mortal Kombat: Deception',
 'Mortal Kombat: Shaolin Monks',
 'Motocross Mania 3',
 'MotoGP',
 'MotoGP 2',
 'MotoGP 3',
 'MTV Music Generator 3: This is the Remix',
 'MTX: Mototrax',
 'Murakumo: Renegade Mech Pursuit',
 'Muzzle Flash',
 'MVP 06: NCAA Baseball',
 'MVP Baseball 2003',
 'MVP Baseball 2004',
 'MVP Baseball 2005',
 'MX 2002',
 'MX Superfly',
 'MX Unleashed',
 'MX vs. ATV Unleashed',
 'MX World Tour Featuring Jamie Little',
 'Myst III: Exile',
 'Myst IV: Revelation',
 'N.U.D.E.@ Natural Ultimate Digital Experiment',
 'Nakashima Tetsuya no Othello Seminar',
 'Namco Museum',
 'Namco Museum 50th Anniversary',
 'Narc',
 'NASCAR 06: Total Team Control',
 'NASCAR 07',
 'NASCAR 2005: Chase for the Cup',
 'NASCAR Heat 2002',
 'NASCAR Thunder 2002',
 'NASCAR Thunder 2003',
 'NASCAR Thunder 2004',
 'NBA 2K2',
 'NBA 2K3',
 'NBA 2K6',
 'NBA 2K7',
 'NBA Ballers',
 'NBA Ballers: Phenom',
 'NBA Inside Drive 2002',
 'NBA Inside Drive 2003',
 'NBA Inside Drive 2004',
 'NBA Jam',
 'NBA Live 06',
 'NBA Live 07',
 'NBA Live 2002',
 'NBA Live 2003',
 'NBA Live 2004',
 'NBA Live 2005',
 'NBA Starting Five',
 'NBA Street V3',
 'NBA Street Vol. 2',
 'NCAA College Basketball 2K3',
 'NCAA College Football 2K3',
 'NCAA Football 06',
 'NCAA Football 07',
 'NCAA Football 08',
 'NCAA Football 2003',
 'NCAA Football 2004',
 'NCAA Football 2005',
 'NCAA March Madness 06',
 'NCAA March Madness 2004',
 'NCAA March Madness 2005',
 'Need for Speed: Carbon',
 'Need for Speed: Hot Pursuit 2',
 'Need for Speed: Most Wanted',
 'Need for Speed: Underground',
 'Need for Speed: Underground 2',
 'Neighbours from Hell',
 'New Legends',
 'NFL 2K2',
 'NFL 2K3',
 'NFL Blitz 2002',
 'NFL Blitz 2003',
 'NFL Blitz Pro',
 'NFL Fever 2002',
 'NFL Fever 2003',
 'NFL Fever 2004',
 'NFL Head Coach',
 'NFL Street',
 'NFL Street 2',
 'NHL 06',
 'NHL 07',
 'NHL 2002',
 'NHL 2003',
 'NHL 2004',
 'NHL 2005',
 'NHL 2K3',
 'NHL 2K6',
 'NHL 2K7',
 'NHL Hitz 20',
 'NHL Hitz 20',
 'NHL Hitz Pro',
 'NHL Rivals 2004',
 'Nickelodeon Party Blast',
 'NightCaster',
 'NightCaster II: Equinox',
 'Ninja Gaiden',
 'Ninja Gaiden Black',
 'Nobunaga no Yabou: Ranseiki',
 'ObsCure',
 "Oddworld: Munch's Oddysee",
 "Oddworld: Stranger's Wrath",
 'Open Season',
 'Operation Flashpoint: Elite',
 'Otogi: Myth of Demons',
 'Otogi 2: Immortal Warriors',
 'Outlaw Golf',
 'Outlaw Golf 2',
 'Outlaw Golf: 9 Holes of X',
 'Outlaw Golf: 9 More Holes of X',
 'Outlaw Golf: Holiday Golf',
 'Outlaw Tennis',
 'Outlaw Volleyball',
 'Outlaw Volleyball: Red Hot',
 'OutRun 2',
 'OutRun 2006: Coast 2 Coast',
 'Over the Hedge',
 'Pac',
 'Pac',
 'Painkiller: Hell Wars',
 'Panzer Dragoon Orta',
 'Panzer Elite Action: Fields of Glory',
 'Pariah',
 "Peter Jackson's King Kong",
 'Petit Copter',
 'Phantasy Star Online Episode I & II',
 'Phantom Crash',
 'Phantom Dust',
 'Pilot Down: Behind Enemy Lines',
 'Pinball Hall of Fame',
 'Pirates of the Caribbean',
 'Pirates: Legend of the Black Buccaneer',
 'Pirates: The Legend of Black Kat',
 'Pitfall: The Lost Expedition',
 'Playboy: The Mansion',
 'Plus Plum 2',
 'PocketBike Racer',
 'Pool Shark 2',
 'Powerdrome',
 'Predator: Concrete Jungle',
 'Prince of Persia: The Sands of Time',
 'Prince of Persia: The Two Thrones',
 'Prince of Persia: Warrior Within',
 'Prisoner of War',
 'Pro Cast Sports Fishing Lakemasters: Bass Fishing Game ',
 'Pro Fishing Challenge',
 'Pro Race Driver',
 'Project Gotham Racing',
 'Project Gotham Racing 2',
 'Project Snowblind',
 'ProStroke Golf: World Tour 2007',
 'Psi',
 'Psychonauts',
 'Psyvariar 2',
 'Pulse Racer',
 'Pump It Up: Exceed',
 'The Punisher',
 'Pure Pinball',
 'Puyo Pop: Fever',
 'Quantum Redshift',
 'R: Racing Evolution',
 'Rallisport Challenge',
 'RalliSport Challenge 2',
 'Rally Fusion: Race of Champions',
 'Rapala Pro Fishing',
 'Ratatouille',
 'Rayman 3: Hoodlum Havoc',
 'Rayman Arena',
 "Raze's Hell",
 'Real World Golf',
 'Red Dead Revolver',
 'Red Faction II',
 'Red Ninja: End of Honor',
 'RedCard 20',
 'Reign of Fire',
 'Rent',
 'Reservoir Dogs',
 'Return to Castle Wolfenstein: Tides of War',
 'Richard Burns Rally',
 'RLH: Run Like Hell',
 'RoadKill',
 'Robin Hood: Defender of the Crown',
 'RoboCop',
 'Robot Wars: Extreme Destruction',
 'Robotech: Battlecry',
 'Robotech: Invasion',
 'Robots',
 'Rocky',
 'Rocky: Legends',
 'Rogue Ops',
 'Rogue Trooper',
 'RollerCoaster Tycoon',
 'Rolling',
 'Room Zoom',
 'Rugby 06',
 'Rugby 2005',
 'Rugby Challenge 2006',
 'Rugby League',
 'Rugby League 2',
 'Samurai Shodown V',
 'Samurai Warriors',
 'Scaler',
 'Scarface: The World Is Yours',
 'Scooby',
 'Scooby',
 'Scooby',
 'American McGee Presents: Scrapland',
 'SeaBlade',
 "SeaWorld: Shamu's Deep Sea Adventures",
 'Second Sight',
 'Secret Weapons Over Normandy',
 'Sega GT 2002',
 'Sega GT Online',
 'Sega Soccer Slam',
 'Sensible Soccer 2006',
 'Sentou Yousei Yukikaze: Yousei no Mau Sora',
 'Serious Sam',
 'Serious Sam II',
 'Shadow of Memories',
 'Shadow Ops: Red Mercury',
 'Shadow the Hedgehog',
 'Shark Tale',
 'Shattered Union',
 "Shellshock: Nam '67",
 'Shenmue II',
 'Shikigami no Shiro',
 'Shikigami no Shiro Evolution Blue',
 'Shikigami no Shiro Evolution Red',
 'Shikigami no Shiro II',
 'Shinchou Mahjong ',
 'Shin Megami Tensei: Nine',
 'Showdown: Legends of Wrestling',
 'Shrek',
 'Shrek 2',
 'Shrek Super Party',
 'Shrek SuperSlam',
 "Sid Meier's Pirates!",
 'Silent Hill 2',
 'Silent Hill 4: The Room',
 'Silent Scope Complete',
 'The Simpsons: Hit & Run',
 'The Simpsons: Road Rage',
 'The Sims',
 'The Sims 2',
 "The Sims Bustin' Out",
 'Ski Racing 2005',
 'Ski Racing 2006',
 'Slam Tennis',
 'Smashing Drive',
 'Sneak King',
 'Sneakers',
 'Sniper Elite',
 'Soldier of Fortune II: Double Helix',
 'Sonic Heroes',
 'Sonic Mega Collection Plus',
 'Sonic Riders',
 'Soul Calibur II',
 'Spartan: Total Warrior',
 'Spawn: Armageddon',
 'Special Forces: Nemesis Strike Counter Terrorist Special Forces: Fire for Effect ',
 'Speed Kings',
 'Sphinx and the Cursed Mummy',

In [52]:
camelcase_formatted = []
for i in range(len(formatted)):
    text = formatted[i]
    splitted = re.sub('([A-Z][a-z]+)', r' \1', re.sub('([A-Z]+)', r' \1', text)).split()
    camelcase_formatted.append(splitted)
    
camelcase_formatted

[['007:', 'Agent', 'Under', 'Fire'],
 ['007:', 'Everything', 'or', 'Nothing'],
 ['007:', 'From', 'Russia', 'with', 'Love'],
 ['007:', 'Nightfire'],
 ['187', 'Ride', 'or', 'Die'],
 ['2002', 'FIFA', 'World', 'Cup'],
 ['25', 'To', 'Life'],
 ['4x4', 'EVO', '2'],
 ['50', 'Cent:', 'Bulletproof'],
 ['Advent', 'Rising'],
 ['Æon', 'Flux'],
 ['AFL', 'Live', '2003'],
 ['AFL', 'Live', '2004'],
 ['AFL', 'Live', 'Premiership', 'Edition'],
 ['AFL', 'Premiership', '2005'],
 ['Aggressive', 'Inline'],
 ['Airforce', 'Delta', 'Storm', 'Deadly', 'Skies'],
 ['Alias'],
 ['Alien', 'Hominid'],
 ['Aliens', 'Versus', 'Predator:', 'Extinction'],
 ['Alfa',
  'Romeo',
  'Racing',
  'Italiano',
  'SCAR',
  ':',
  'Squadra',
  'Corse',
  'Alfa',
  'Romeo'],
 ['All'],
 ['All'],
 ['All'],
 ['Alter', 'Echo'],
 ["America's", 'Army:', 'Rise', 'of', 'a', 'Soldier'],
 ['American', 'Chopper'],
 ['American', 'Chopper', '2:', 'Full', 'Throttle'],
 ['AMF', 'Bowling', '2004'],
 ['AMF', 'Xtreme', 'Bowling', '2006'],
 ['Amped:', 'Freestyle', 'Snowboarding'],
 ['Amped', '2', 'Tenku', '2'],
 ['AND', '1', 'Streetball'],
 ['Angelic', 'Concert'],
 ['Animaniacs:', 'The', 'Great', 'Edgar', 'Hunt'],
 ['Antz', 'Extreme', 'Racing'],
 ['Aoi', 'Namida'],
 ['APEX', 'Racing', 'Evoluzione'],
 ['Aquaman:', 'Battle', 'for', 'Atlantis'],
 ['Arctic', 'Thunder'],
 ['Area', '51'],
 ['Arena', 'Football'],
 ['Armed', 'and', 'Dangerous'],
 ['Army', 'Men:', 'Major', 'Malfunction'],
 ['Army', 'Men:', "Sarge's", 'War'],
 ['Arx', 'Fatalis'],
 ['Atari', 'Anthology'],
 ['ATV', 'Quad', 'Power', 'Racing', '2'],
 ['Auto', 'Modellista'],
 ['Avatar:', 'The', 'Last', 'Airbender'],
 ['Azurik:', 'Rise', 'of', 'Perathia'],
 ['Backyard', 'Wrestling:', "Don't", 'Try', 'This', 'at', 'Home'],
 ['Backyard', 'Wrestling', '2:', 'There', 'Goes', 'the', 'Neighborhood'],
 ['Bad', 'Boys:', 'Miami', 'Takedown', 'Bad', 'Boys', 'II'],
 ["Baldur's", 'Gate:', 'Dark', 'Alliance'],
 ["Baldur's", 'Gate:', 'Dark', 'Alliance', 'II'],
 ['Barbarian'],
 ['Barbie', 'Horse', 'Adventures:', 'Wild', 'Horse', 'Rescue'],
 ['The', "Bard's", 'Tale'],
 ['Bass', 'Pro', 'Shops:', 'Trophy', 'Bass', '2007'],
 ['Bass', 'Pro', 'Shops', 'Trophy', 'Hunter', '2007'],
 ['Batman', 'Begins'],
 ['Batman:', 'Dark', 'Tomorrow'],
 ['Batman:', 'Rise', 'of', 'Sin', 'Tzu'],
 ['Batman', 'Vengeance'],
 ['Battle', 'Engine', 'Aquila'],
 ['Battlefield', '2:', 'Modern', 'Combat'],
 ['Battlestar', 'Galactica'],
 ['Beat', 'Down:', 'Fists', 'of', 'Vengeance'],
 ['Beyond', 'Good', '&', 'Evil'],
 ['The', 'Bible', 'Game'],
 ['Bicycle', 'Casino'],
 ['Big', "Bumpin'"],
 ['Big', 'Mutha', 'Truckers'],
 ['Big', 'Mutha', 'Truckers', '2'],
 ['Bionicle'],
 ['Bistro', 'Cupid'],
 ['Bistro', 'Cupid', '2'],
 ['Black'],
 ['Black', 'Stone:', 'Magic', '&', 'Steel', 'Ex'],
 ['Blade', 'II'],
 ['Blazing', 'Angels:', 'Squadrons', 'of', 'WWII'],
 ['Blinx:', 'The', 'Time', 'Sweeper'],
 ['Blinx',
  '2:',
  'Masters',
  'of',
  'Time',
  'and',
  'Space',
  'Blinx',
  '2:',
  'Battle',
  'of',
  'Time',
  'and',
  'Space'],
 ['Blitz:', 'The', 'League'],
 ['Blood', 'Omen', '2'],
 ['Blood', 'Wake'],
 ['Blood', 'Rayne'],
 ['Blood', 'Rayne', '2'],
 ['Bloody', 'Roar', 'Extreme'],
 ['Blow', 'Out'],
 ['BMX', 'XXX'],
 ['Braveknight'],
 ['Break', 'Nine:', 'World', 'Billiards', 'Tournament'],
 ['Breakdown'],
 ["Breeders'", 'Cup', 'World', 'Thoroughbred', 'Championships'],
 ['Brian', 'Lara', 'International', 'Cricket', '2005'],
 ['Broken', 'Sword:', 'The', 'Sleeping', 'Dragon'],
 ['Brothers', 'in', 'Arms:', 'Earned', 'in', 'Blood'],
 ['Brothers', 'in', 'Arms:', 'Road', 'to', 'Hill', '30'],
 ['Bruce', 'Lee:', 'Quest', 'of', 'the', 'Dragon'],
 ['Brute', 'Force'],
 ['Buffy', 'the', 'Vampire', 'Slayer'],
 ['Buffy', 'the', 'Vampire', 'Slayer:', 'Chaos', 'Bleeds'],
 ['Burnout'],
 ['Burnout', '2:', 'Point', 'of', 'Impact'],
 ['Burnout', '3:', 'Takedown'],
 ['Burnout', 'Revenge'],
 ['C.', 'A.', 'T.:', 'Cyber', 'Attack', 'Team'],
 ["Cabela's", 'Big', 'Game', 'Hunter', '2005', 'Adventures'],
 ["Cabela's", 'Dangerous', 'Hunts'],
 ["Cabela's", 'Dangerous', 'Hunts', '2'],
 ["Cabela's", 'Deer', 'Hunt:', '2004', 'Season'],
 ["Cabela's", 'Deer', 'Hunt:', '2005', 'Season'],
 ["Cabela's", 'Outdoor', 'Adventures'],
 ['Call', 'of', 'Cthulhu:', 'Dark', 'Corners', 'of', 'the', 'Earth'],
 ['Call', 'of', 'Duty:', 'Finest', 'Hour'],
 ['Call', 'of', 'Duty', '2:', 'Big', 'Red', 'One'],
 ['Call', 'of', 'Duty', '3'],
 ['Capcom', 'Classics', 'Collection', 'Vol.', '1'],
 ['Capcom', 'Classics', 'Collection', 'Vol.', '2'],
 ['Capcom', 'Fighting', 'Evolution', 'Capcom', 'Fighting', 'Jam'],
 ['Capcom', 'vs.', 'SNK', '2', 'EO'],
 ['Carmen', 'Sandiego:', 'The', 'Secret', 'of', 'the', 'Stolen', 'Drums'],
 ['Cars'],
 ['Carve'],
 ['Castlevania:',
  'Curse',
  'of',
  'Darkness',
  'Akumajo',
  'Dracula:',
  'Yami',
  'no',
  'Juin'],
 ['Catwoman'],
 ['Cel', 'Damage'],
 ['Celebrity', 'Deathmatch'],
 ['Championship', 'Bowling'],
 ['Championship', 'Manager:', 'Season', '01/02'],
 ['Championship', 'Manager:', 'Season', '02/03'],
 ['Championship', 'Manager', '2006'],
 ['Championship', 'Manager', '5'],
 ['Charlie', 'and', 'the', 'Chocolate', 'Factory'],
 ['Chase:', 'Hollywood', 'Stunt', 'Driver'],
 ['Chessmaster', '10th', 'Edition'],
 ['Chicago', 'Enforcer'],
 ['Chicken', 'Little'],
 ['The',
  'Chronicles',
  'of',
  'Narnia:',
  'The',
  'Lion,',
  'the',
  'Witch',
  'and',
  'the',
  'Wardrobe'],
 ['The', 'Chronicles', 'of', 'Riddick:', 'Escape', 'from', 'Butcher', 'Bay'],
 ['Circus', 'Maximus:', 'Chariot', 'Wars'],
 ['Classified:', 'The', 'Sentinel', 'Crisis'],
 ['Close', 'Combat:', 'First', 'to', 'Fight'],
 ['Club', 'Football'],
 ['Club', 'Football', '2005'],
 ['Codename:', 'Kids', 'Next', 'Door'],
 ['Cold', 'Fear'],
 ['Cold', 'War'],
 ['Colin', 'Mc', 'Rae', 'Rally', '04'],
 ['Colin', 'Mc', 'Rae', 'Rally', '2005'],
 ['Colin', 'Mc', 'Rae', 'Rally', '3'],
 ['College', 'Hoops', '2', 'K6'],
 ['College', 'Hoops', '2', 'K7'],
 ['Combat', 'Elite:', 'WWII', 'Paratroopers'],
 ['Combat:', 'Task', 'Force', '121'],
 ['Commandos:', 'Strike', 'Force'],
 ['Commandos', '2:', 'Men', 'of', 'Courage'],
 ['Conan'],
 ['Conflict:', 'Desert', 'Storm'],
 ['Conflict:', 'Desert', 'Storm', 'II:', 'Back', 'to', 'Baghdad'],
 ['Conflict:', 'Global', 'Terror'],
 ['Conflict:', 'Vietnam'],
 ['Conker:', 'Live', '&', 'Reloaded'],
 ['Conspiracy:', 'Weapons', 'of', 'Mass', 'Destruction'],
 ['Constantine'],
 ['Corvette'],
 ['Counter'],
 ['Crash', 'Bandicoot:', 'The', 'Wrath', 'of', 'Cortex'],
 ['Crash', "'n'", 'Burn'],
 ['Crash', 'Nitro', 'Kart'],
 ['Crash', 'Tag', 'Team', 'Racing'],
 ['Crash', 'Twinsanity'],
 ['Crazy', 'Taxi', '3:', 'High', 'Roller'],
 ['Cricket', '2005'],
 ['Crime', 'Life:', 'Gang', 'Wars'],
 ['Crimson', 'Sea'],
 ['Crimson', 'Skies:', 'High', 'Road', 'to', 'Revenge'],
 ['Crouching', 'Tiger,', 'Hidden', 'Dragon'],
 ['Crusty', 'Demons'],
 ['CSI:', 'Crime', 'Scene', 'Investigation'],
 ['Curious', 'George'],
 ['Curse:', 'The', 'Eye', 'of', 'Isis'],
 ['The', 'Da', 'Vinci', 'Code'],
 ['Daemon', 'Vector'],
 ['Dai',
  'Senryaku',
  'VII:',
  'Modern',
  'Military',
  'Tactics',
  'Daisenryaku',
  'VII'],
 ['Dakar', '2:', 'The', "World's", 'Ultimate', 'Rally'],
 ['Dance', 'Dance', 'Revolution', 'Ultramix', 'Dance', 'Stage', 'Unleashed'],
 ['Dance',
  'Dance',
  'Revolution',
  'Ultramix',
  '2',
  'Dance',
  'Stage',
  'Unleashed',
  '2'],
 ['Dance',
  'Dance',
  'Revolution',
  'Ultramix',
  '3',
  'Dance',
  'Stage',
  'Unleashed',
  '3'],
 ['Dance', 'Dance', 'Revolution', 'Ultramix', '4'],
 ['Dance:', 'UK'],
 ['Dark', 'Summit'],
 ['Darkwatch'],
 ['Dave', 'Mirra', 'Freestyle', 'BMX', '2'],
 ['David', 'Beckham', 'Soccer'],
 ['Dead', "Man's", 'Hand'],
 ['Dead', 'or', 'Alive', '3'],
 ['Dead', 'or', 'Alive', 'Ultimate'],
 ['Dead', 'or', 'Alive', 'Xtreme', 'Beach', 'Volleyball'],
 ['Dead', 'to', 'Rights'],
 ['Dead', 'to', 'Rights', 'II'],
 ['Deathrow'],
 ['Def', 'Jam:', 'Fight', 'for', 'NY'],
 ['Defender'],
 ['Delta', 'Force:', 'Black', 'Hawk', 'Down'],
 ['Dennou', 'Taisen:', 'Drone', 'Z'],
 ['Destroy', 'All', 'Humans!'],
 ['Destroy', 'All', 'Humans!', '2'],
 ['Deus', 'Ex:', 'Invisible', 'War'],
 ['Die', 'Hard:', 'Vendetta'],
 ['Digimon', 'Rumble', 'Arena', '2'],
 ['Digimon', 'World', '4', 'Dejimon', 'Warudo', 'X'],
 ['Dino', 'Crisis', '3'],
 ['Dinosaur', 'Hunting'],
 ['Dinotopia:', 'The', 'Sunstone', 'Odyssey'],
 ["Disney's", 'Extreme', 'Skate', 'Adventure'],
 ['Doom', '3'],
 ['Doom', '3:', 'Resurrection', 'of', 'Evil'],
 ['Double'],
 ['Dr.', 'Muto'],
 ['Dr.', "Seuss'", 'The', 'Cat', 'in', 'the', 'Hat'],
 ['Dragon', 'Ball', 'Z:', 'Sagas'],
 ["Dragon's", 'Lair', '3', 'D:', 'Return', 'to', 'the', 'Lair'],
 ['Drake', 'of', 'the', '99', 'Dragons'],
 ['Dreamfall:', 'The', 'Longest', 'Journey'],
 ['Drihoo'],
 ['Mashed:', 'Drive', 'to', 'Survive'],
 ['DRIV3', 'R'],
 ['Driver:', 'Parallel', 'Lines'],
 ['The', 'Dukes', 'of', 'Hazzard:', 'Return', 'of', 'the', 'General', 'Lee'],
 ['Dungeons', '&', 'Dragons:', 'Heroes'],
 ['Dynasty', 'Warriors', '3', 'Shin', 'Sangokumusou', '2'],
 ['Dynasty', 'Warriors', '4', 'Shin', 'Sangokumusou', '3'],
 ['Dynasty', 'Warriors', '5', 'Shin', 'Sangokumusou', '4'],
 ['Ed,', 'Edd', 'n', 'Eddy:', 'The', 'Mis'],
 ['Egg', 'Mania:', 'Eggstreme', 'Madness'],
 ['The', 'Elder', 'Scrolls', 'III:', 'Morrowind'],
 ['Enclave'],
 ['England', 'International', 'Football'],
 ['Enter', 'the', 'Matrix'],
 ['Eragon'],
 ['ESPN', 'College', 'Hoops'],
 ['ESPN', 'College', 'Hoops', '2', 'K5'],
 ['ESPN', 'International', 'Winter', 'Sports', '2002'],
 ['ESPN', 'Major', 'League', 'Baseball'],
 ['ESPN', 'MLS', 'Extra', 'Time', '2002'],
 ['ESPN', 'NBA', '2', 'K5'],
 ['ESPN', 'NBA', '2', 'Night', '2002'],
 ['ESPN', 'NBA', 'Basketball'],
 ['ESPN', 'NFL', '2', 'K5'],
 ['ESPN', 'NFL', 'Football'],
 ['ESPN', 'NFL', 'Prime', 'Time', '2002'],
 ['ESPN', 'NHL', '2', 'K5'],
 ['ESPN', 'NHL', 'Hockey'],
 ['ESPN', 'Winter', 'X'],
 ['Evil', 'Dead:', 'A', 'Fistful', 'of', 'Boomstick'],
 ['Evil', 'Dead:', 'Regeneration'],
 ['Exa', 'Skeleton'],
 ['F1', '2001'],
 ['F1', '2002'],
 ['F1', 'Career', 'Challenge'],
 ['Fable'],
 ['Fable:', 'The', 'Lost', 'Chapters'],
 ['The', 'Fairly', 'Odd', 'Parents:', "Breakin'", 'Da', 'Rules'],
 ['Fallout:', 'Brotherhood', 'of', 'Steel'],
 ['Family', 'Guy', 'Video', 'Game!'],
 ['Fantastic', '4'],
 ['Far', 'Cry', 'Instincts'],
 ['Far', 'Cry', 'Instincts:', 'Evolution'],
 ['Fatal', 'Frame', 'Project', 'Zero'],
 ['Fatal',
  'Frame',
  'II:',
  'Crimson',
  'Butterfly',
  'Project',
  'Zero',
  'II:',
  'Crimson',
  'Butterfly'],
 ['FIFA', '06', 'Soccer'],
 ['FIFA', '07'],
 ['FIFA', 'Football', '2003'],
 ['FIFA', 'Football', '2004'],
 ['FIFA', '2005'],
 ['FIFA', 'Street'],
 ['FIFA', 'Street', '2'],
 ['FIFA', 'World', 'Cup:', 'Germany', '2006'],
 ['Fight', 'Club'],
 ['Fight', 'Night', '2004'],
 ['Fight', 'Night', 'Round', '2'],
 ['Fight', 'Night:', 'Round', '3'],
 ['FILA', 'World', 'Tour', 'Tennis'],
 ['Final', 'Fight:', 'Streetwise'],
 ['Finding', 'Nemo'],
 ['Fire', 'Blade'],
 ['Flat', 'Out'],
 ['Flat', 'Out', '2'],
 ['Flight', 'Academy'],
 ['Ford', 'Bold', 'Moves', 'Street', 'Racing'],
 ['Ford', 'Mustang:', 'The', 'Legend', 'Lives'],
 ['Ford', 'Racing', '2'],
 ['Ford', 'Racing', '3'],
 ['Ford', 'vs.', 'Chevy'],
 ['Forgotten', 'Realms:', 'Demon', 'Stone'],
 ['Forza', 'Motorsport'],
 ['Freaky', 'Flyers'],
 ['Freedom', 'Fighters'],
 ['Freestyle', 'Metal', 'X'],
 ['Freestyle', 'Street', 'Soccer'],
 ['Frogger', 'Beyond'],
 ['Frogger:', 'Ancient', 'Shadow'],
 ['Full', 'Spectrum', 'Warrior'],
 ['Full', 'Spectrum', 'Warrior:', 'Ten', 'Hammers'],
 ['Furious', 'Karting'],
 ['Futurama'],
 ['Future', 'Tactics:', 'The', 'Uprising'],
 ['Fuzion', 'Frenzy'],
 ['Galaxy', 'Angel'],
 ['Galleon'],
 ['Gauntlet:', 'Dark', 'Legacy'],
 ['Gauntlet:', 'Seven', 'Sorrows'],
 ['Gene', 'Troopers'],
 ['Genma', 'Onimusha'],
 ['Ghost', 'Master:', 'The', 'Gravenville', 'Chronicles'],
 ['Gladiator:', 'Sword', 'of', 'Vengeance'],
 ['Gladius'],
 ['Goblin', 'Commander:', 'Unleash', 'the', 'Horde'],
 ['The', 'Godfather:', 'The', 'Game'],
 ['Godzilla:', 'Destroy', 'All', 'Monsters', 'Melee'],
 ['Godzilla:', 'Save', 'the', 'Earth'],
 ['Golden', 'Eye:', 'Rogue', 'Agent'],
 ['Gotcha!'],
 ['Grabbed', 'by', 'the', 'Ghoulies'],
 ['Grand', 'Theft', 'Auto', 'III'],
 ['Grand', 'Theft', 'Auto:', 'Double', 'Pack'],
 ['Grand', 'Theft', 'Auto:', 'San', 'Andreas'],
 ['Grand', 'Theft', 'Auto:', 'The', 'Trilogy'],
 ['Grand', 'Theft', 'Auto:', 'Vice', 'City'],
 ['Gravity', 'Games', 'Bike:', 'Street.', 'Vert.', 'Dirt.'],
 ['The', 'Great', 'Escape'],
 ['Greg', 'Hastings', 'Tournament', 'Paintball'],
 ['Greg', "Hastings'", 'Tournament', 'Paintball', "Max'd"],
 ['Grooverider:', 'Slot', 'Car', 'Thunder'],
 ['Group', 'S', 'Challenge', 'CIRCUS', 'DRIVE'],
 ['Guilty', 'Gear', 'Isuka'],
 ['Guilty', 'Gear', 'X2#', 'Reload'],
 ['Gun'],
 ['Gun', 'Metal'],
 ['Gun', 'Griffon:', 'Allied', 'Strike'],
 ['Gunvalkyrie'],
 ['The', 'Guy', 'Game'],
 ['Half'],
 ['Halo:', 'Combat', 'Evolved'],
 ['Halo', '2'],
 ['Halo', '2', 'Multiplayer', 'Map', 'Pack'],
 ['Halo', 'Triple', 'Pack'],
 ['Harry', 'Potter', 'and', 'the', 'Chamber', 'of', 'Secrets'],
 ['Harry', 'Potter', 'and', 'the', 'Goblet', 'of', 'Fire'],
 ['Harry', 'Potter', 'and', 'the', 'Prisoner', 'of', 'Azkaban'],
 ['Harry',
  'Potter',
  'and',
  'the',
  "Sorcerer's",
  'Stone',
  'Harry',
  'Potter',
  'and',
  'the',
  "Philosopher's",
  'Stone'],
 ['Harry', 'Potter:', 'Quidditch', 'World', 'Cup'],
 ['The', 'Haunted', 'Mansion'],
 ['Headhunter', 'Redemption'],
 ['Hello',
  'Kitty:',
  'Roller',
  'Rescue',
  'Hello',
  'Kitty:',
  'Mission',
  'Rescue'],
 ['Heroes', 'of', 'the', 'Pacific'],
 ['High', 'Heat', 'Major', 'League', 'Baseball', '2004'],
 ['High', 'Rollers', 'Casino'],
 ['Hitman:', 'Blood', 'Money'],
 ['Hitman:', 'Contracts'],
 ['Hitman', '2:', 'Silent', 'Assassin'],
 ['The', 'Hobbit'],
 ['Hot', 'Wheels:', 'Stunt', 'Track', 'Challenge'],
 ['The', 'House', 'of', 'the', 'Dead', 'III'],
 ['Hulk'],
 ['Hummer', 'Badlands'],
 ['Hunter:', 'The', 'Reckoning'],
 ['Hunter:', 'The', 'Reckoning:', 'Redeemer'],
 ['The', 'Hustle:', 'Detroit', 'Streets'],
 ['I'],
 ['Ice', 'Age', '2:', 'The', 'Meltdown'],
 ['IHRA', 'Drag', 'Racing', '2004'],
 ['IHRA', 'Drag', 'Racing:', 'Sportsman', 'Edition'],
 ['IHRA', 'Professional', 'Drag', 'Racing', '2005'],
 ['Innocent', 'Tears'],
 ['The', 'Incredible', 'Hulk:', 'Ultimate', 'Destruction'],
 ['The', 'Incredibles', 'Mr.', 'Incredible'],
 ['The', 'Incredibles:', 'Rise', 'of', 'the', 'Underminer'],
 ['Indiana', 'Jones', 'and', 'the', "Emperor's", 'Tomb'],
 ['Indigo', 'Prophecy', 'Fahrenheit'],
 ['Indy', 'Car', 'Series'],
 ['Indy', 'Car', 'Series', '2005'],
 ['Inside', 'Pitch', '2003'],
 ['The', 'Italian', 'Job'],
 ['Intellivision', 'Lives!'],
 ['International', 'Superstar', 'Soccer', '2'],
 ['Iron', 'Phoenix'],
 ['Jacked'],
 ['Jade', 'Empire'],
 ['James', "Cameron's", 'Dark', 'Angel'],
 ['Jaws', 'Unleashed'],
 ['Jet', 'Set', 'Radio', 'Future'],
 ['Jikkyou', 'World', 'Soccer', '2002'],
 ["Jockey's", 'Road'],
 ['Judge', 'Dredd:', 'Dredd', 'Vs.', 'Death'],
 ['Juiced'],
 ['Jurassic', 'Park:', 'Operation', 'Genesis'],
 ['Just', 'Cause'],
 ['Justice', 'League', 'Heroes'],
 ['Kabuki', 'Warriors'],
 ['Kakuto', 'Chojin'],
 ['Kao', 'the', 'Kangaroo:', 'Round', '2'],
 ['Karaoke', 'Revolution'],
 ['Karaoke', 'Revolution', 'Party'],
 ['Kelly', "Slater's", 'Pro', 'Surfer'],
 ['Kikou', 'Heidan', 'J'],
 ['Kill', 'Switch'],
 ['King', 'Arthur'],
 ['Kingdom', 'Under', 'Fire:', 'Heroes'],
 ['Kingdom', 'Under', 'Fire:', 'The', 'Crusaders'],
 ['The', 'King', 'of', 'Fighters', '02/03'],
 ['The', 'King', 'of', 'Fighters', '2002'],
 ['The', 'King', 'of', 'Fighters', '2003'],
 ['The', 'King', 'of', 'Fighters', 'Neowave'],
 ['The', 'King', 'of', 'Fighters:', 'Maximum', 'Impact'],
 ["Knight's", 'Apprentice:', "Memorick's", 'Adventures'],
 ['Knights', 'of', 'the', 'Temple:', 'Infernal', 'Crusade'],
 ['Knights', 'of', 'the', 'Temple', 'II'],
 ['Knockout', 'Kings', '2002'],
 ['Kung', 'Fu', 'Chaos'],
 ['L.', 'A.', 'Rush'],
 ['Land', 'of', 'the', 'Dead:', 'Road', 'to', "Fiddler's", 'Green'],
 ['Largo', 'Winch:', 'Empire', 'Under', 'Threat'],
 ['Legacy', 'of', 'Kain:', 'Defiance'],
 ['The', 'Legend', 'of', 'Spyro:', 'A', 'New', 'Beginning'],
 ['Legends', 'of', 'Wrestling'],
 ['Legends', 'of', 'Wrestling', 'II'],
 ['Lego', 'Star', 'Wars:', 'The', 'Video', 'Game'],
 ['Lego', 'Star', 'Wars', 'II:', 'The', 'Original', 'Trilogy'],
 ['Leisure', 'Suit', 'Larry:', 'Magna', 'Cum', 'Laude'],
 ['Lemony', "Snicket's", 'A', 'Series', 'of', 'Unfortunate', 'Events'],
 ['Links', '2004'],
 ['LMA', 'Manager', '2003'],
 ['LMA', 'Manager', '2004'],
 ['LMA', 'Manager', '2005'],
 ['LMA', 'Manager', '2006'],
 ['Loons:', 'The', 'Fight', 'for', 'Fame'],
 ['The',
  'Lord',
  'of',
  'the',
  'Rings:',
  'The',
  'Fellowship',
  'of',
  'the',
  'Ring'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Return', 'of', 'the', 'King'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Third', 'Age'],
 ['The', 'Lord', 'of', 'the', 'Rings:', 'The', 'Two', 'Towers'],
 ['Lotus', 'Challenge'],
 ['Mace', 'Griffin:', 'Bounty', 'Hunter'],
 ['Mad', 'Dash', 'Racing'],
 ['Madagascar'],
 ['Madden', 'NFL', '06'],
 ['Madden', 'NFL', '07'],
 ['Madden', 'NFL', '08'],
 ['Madden', 'NFL', '09'],
 ['Madden', 'NFL', '2002'],
 ['Madden', 'NFL', '2003'],
 ['Madden', 'NFL', '2004'],
 ['Madden', 'NFL', '2005'],
 ['Mafia:', 'The', 'City', 'of', 'Lost', 'Heaven'],
 ['Magatama'],
 ['Magic', 'the', 'Gathering:', 'Battlegrounds'],
 ['Magi', 'Death', 'Fight:', 'Mahou', 'Gakuen'],
 ['Major', 'League', 'Baseball', '2', 'K5'],
 ['Major', 'League', 'Baseball', '2', 'K6'],
 ['Major', 'League', 'Baseball', '2', 'K7'],
 ['Malice'],
 ['Manchester', 'United', 'Manager', '2005'],
 ['Manhunt'],
 ['Marc', "Ecko's", 'Getting', 'Up:', 'Contents', 'Under', 'Pressure'],
 ['Marvel:', 'Ultimate', 'Alliance'],
 ['Marvel', 'Nemesis:', 'Rise', 'of', 'the', 'Imperfects'],
 ['Marvel', 'vs.', 'Capcom', '2'],
 ['Mashed:', 'Fully', 'Loaded'],
 ['Mat', "Hoffman's", 'Pro', 'BMX', '2'],
 ['The', 'Matrix:', 'Path', 'of', 'Neo'],
 ['Max', 'Payne'],
 ['Max', 'Payne', '2:', 'The', 'Fall', 'of', 'Max', 'Payne'],
 ['Maximum', 'Chase'],
 ['Mech', 'Assault'],
 ['Mech', 'Assault', '2:', 'Lone', 'Wolf'],
 ['Medal', 'of', 'Honor:', 'European', 'Assault'],
 ['Medal', 'of', 'Honor:', 'Frontline'],
 ['Medal', 'of', 'Honor:', 'Rising', 'Sun'],
 ['Mega', 'Man', 'Anniversary', 'Collection'],
 ['Melbourne', 'Cup', 'Challenge', 'Frankie', 'Dettori', 'Racing'],
 ['Men', 'of', 'Valor'],
 ['Mercenaries:', 'Playground', 'of', 'Destruction'],
 ['Metal', 'Arms:', 'Glitch', 'in', 'the', 'System'],
 ['Metal', 'Dungeon'],
 ['Metal', 'Gear', 'Solid', '2:', 'Substance'],
 ['Metal', 'Slug', '3'],
 ['Metal', 'Slug', '4'],
 ['Metal', 'Slug', '5'],
 ['Metal', 'Wolf', 'Chaos'],
 ['Miami', 'Vice'],
 ['Micro', 'Machines'],
 ['Midnight', 'Club', 'II'],
 ['Midnight', 'Club', '3:', 'DUB', 'Edition'],
 ['Midnight', 'Club', '3:', 'DUB', 'Edition', 'Remix'],
 ['Midtown', 'Madness', '3'],
 ['Midway', 'Arcade', 'Treasures'],
 ['Midway', 'Arcade', 'Treasures', '2'],
 ['Midway', 'Arcade', 'Treasures', '3'],
 ['Mike', 'Tyson', 'Heavyweight', 'Boxing'],
 ['Minority', 'Report:', 'Everybody', 'Runs'],
 ['Mission', 'Impossible:', 'Operation', 'Surma'],
 ['MLB', 'Slugfest', '2003'],
 ['MLB', 'Slugfest', '2004'],
 ['MLB', 'Slugfest', '2006'],
 ['MLB', 'Slugfest:', 'Loaded'],
 ['Mojo!'],
 ['Monopoly', 'Party'],
 ['Monster', '4x4:', 'World', 'Circuit'],
 ['Monster', 'Garage'],
 ['Mortal', 'Kombat:', 'Armageddon'],
 ['Mortal', 'Kombat:', 'Deadly', 'Alliance'],
 ['Mortal', 'Kombat:', 'Deception'],
 ['Mortal', 'Kombat:', 'Shaolin', 'Monks'],
 ['Motocross', 'Mania', '3'],
 ['Moto', 'GP'],
 ['Moto', 'GP', '2'],
 ['Moto', 'GP', '3'],
 ['MTV', 'Music', 'Generator', '3:', 'This', 'is', 'the', 'Remix'],
 ['MTX:', 'Mototrax'],
 ['Murakumo:', 'Renegade', 'Mech', 'Pursuit'],
 ['Muzzle', 'Flash'],
 ['MVP', '06:', 'NCAA', 'Baseball'],
 ['MVP', 'Baseball', '2003'],
 ['MVP', 'Baseball', '2004'],
 ['MVP', 'Baseball', '2005'],
 ['MX', '2002'],

In [248]:
titles_formatted = pd.DataFrame(formatted, columns=['Title'])
titles_formatted = titles_formatted.sort_values('Title').reset_index(drop=True)
titles_formatted = titles_formatted.drop(titles_formatted.index[0:4]).reset_index(drop=True)
titles_formatted

                                   Title
0                        #killallzombies
1      &: Sora no Mukō de Saki Masuyō ni
2                          'Splosion Man
3                    'n Verlore Verstand
4                                ...Iru!
...                                  ...
23988                              Ōkami
23989                           Ōkami HD
23990                           Ōkamiden
23991                             Ōokuki
23992                       Ōzumō Spirit

[23993 rows x 1 columns]

In [84]:
# Setup Chromedriver
executable_path = {'executable_path': 'chromedriver/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [99]:
# Scrape data from IGDB for Cloud Database
url = 'https://www.igdb.com/discover'
browser.visit(url)

In [100]:
# Test Search Input
browser.find_by_id('search').fill(f"{titles_formatted.iloc[0]['Title']} \n")

In [101]:
first_found = browser.find_by_css('div.game-result').first

In [102]:
browser.visit(first_found.find_by_css('a')['href'])

In [195]:
# Genres and Play Mode
info_section_1 = browser.find_by_css('div.optimisly-game-extrainfo1')
genres = []
playMode = []
for block in info_section_1.find_by_css('a.block'):
    if block['itemprop'] == 'playMode':
        print(block.text)
        playMode.append(block.text)
    if block['itemprop'] == 'genre':
        print(block.text)
        genre.append(block.text)

Single player
Adventure
Shooter

In [104]:
# Themes Series and Player Perspectives
info_section_2 = browser.find_by_css('div.optimisly-game-extrainfo2')
themes = []
series = []
playerPerspectives = []
for block in info_section_2.find_by_css('a.block'):
    string = str(block['href'])
    if 'themes' in string:
        print(block.text)
        themes.append(block.text)
    if 'collections' in string:
        print(block.text)
        series.append(block.text)
    if 'perspectives' in string:
        print(block.text)
        playerPerspectives.append(block.text)

Action
James Bond
First person

In [205]:
# Image Link
image = browser.find_by_css('img.img-responsive.cover_big')['src']
image

'https://images.igdb.com/igdb/image/upload/t_cover_big/co1ot1.jpg'

In [106]:
# Member Rating
member_rating = browser.find_by_css('text.gauge-description').text
member_rating

'Fair'

In [161]:
# Game Description
try:
    browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].find_by_css('span').click()
    game_description = browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].text
except:
    game_description = browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].text
game_description.replace('\n', '').replace('...', '. ')

"James Bond 007: Agent Under Fire is the first James Bond game to appear on the PlayStation 2, GameCube, and Xbox. The game casts the player as the legendary James Bond who must accomplish missions throughout different areas of the world. Bond is sent on a mission rescue Zoe Nightshade, a CIA agent in the hands of Nigel Bloch. Nigel Bloch is the CEO of Identicon, a section of a highly successful industry company known as Malprave industries. Bond is also tasked to retrieve the set of DNA samples that are in Identicon's hands. So James Bond sets off on another adventure.The game combines three game modes into one package: first-person-shooter, which is what most of the missions are, a rail-shooter, where the player only controls firing, and a driving game, where the player drives one of the many Bond cars. Numerous weapons have been added to the series, along with some fictional weapons like the Photon cannon and the 5-way grenade launcher. The player can utilize a wide array of gadgets and weapons, like the Q-Claw, Q-Decoder, and Bond's trusty Walther handgun. There is a large variety of missions, and Bond can go through most missions with weapons, or take a stealthy approach. The player is also rated in each level, based on score and difficulty level, and can unlock new features for both single and multiplayer."

In [158]:
# Keywords
try:
    browser.find_by_css('div.optimisly-game-extrainfo2').find_by_css('div')[3].find_by_css('span').click()
    keywords = browser.find_by_css('div.optimisly-game-extrainfo2').find_by_css('div')[3].text
except:
    keywords = browser.find_by_css('div.optimisly-game-extrainfo2').find_by_css('div')[3].text
keywords.replace(',', '')

'.45 defender 60 fps on consoles agents ak-47 aston martin db5 automated sentry gun auto shotgun barrel bmw z8 body armor bots breast bounce briefcase building bullet colt anaconda crate crosshair cutscene death desert eagle e3 2001 electromagnetic pulse enemy sniper espionage evil organization explosion first-person perspective first person shooter fn p90 games based on movies gloves golden gun government grapple greatest hits gun hand-to-hand combat helicopter boss henchmen h&k g11 id tech 3 instant kill james bond jet pack jump licensed game light up crosshair machine gun machine pistol magnum male protagonists non-player character one-man army on-rails polygonal 3d pp7 rapid fire reloading rocket scope shotgun shotgun shells ski mask smaw spas-12 spies stealth street light submachine gun switch terrorists tie-in train trip mine turret walther ppk weapons swap zoom'

In [260]:
# Test Scrape Loop for data from IGDB for Cloud Database
url = 'https://www.igdb.com/discover'
browser.visit(url)
import numpy as np
for i in range(len(titles_formatted)):
    data_row = []
    # Search Input
    try:
        browser.find_by_id('search').fill(f"{titles_formatted.iloc[i]['Title']} \n")
        more_info_link = ''
    except:
        continue
    try:
        first_found = browser.find_by_id('search-results').find_by_css('div.game-result').first
        more_info_link = first_found.find_by_css('a')['href']
        data_row.append(more_info_link)
        browser.visit(first_found.find_by_css('a')['href'])
    except:
        data_row.append(more_info_link)
        continue
    time.sleep(1)
    # title
    title = ''
    try:
        title = browser.find_by_css('h1.banner-title').text
        data_row.append(title)    
    except:
        continue
    # Systems
    systems = []
    try: 
        for block in browser.find_by_css('div.gamepage-tabs').find_by_css('a'):
            if 'platforms' in block['href']:
                systems.append(block.text)
        data_row.append(systems)
    except:
        data_row.append(systems)
    # Genres and Play Mode
    try:
        info_section_1 = browser.find_by_css('div.optimisly-game-extrainfo1')
        genres = []
        playMode = []
        for block in info_section_1.find_by_css('a.block'):
            if block['itemprop'] == 'playMode':
                playMode.append(block.text)
            elif block['itemprop'] == 'genre':
                genres.append(block.text)
        data_row.append(genres)
        data_row.append(playMode)
        # Themes Series and Player Perspectives
        info_section_2 = browser.find_by_css('div.optimisly-game-extrainfo2')
        themes = []
        series = ''
        playerPerspectives = []
        for block in info_section_2.find_by_css('a.block'):
            string = str(block['href'])
            if 'themes' in string:
                themes.append(block.text)
            if 'collections' in string:
                series = block.text
            if 'perspectives' in string:
                playerPerspectives.append(block.text)
        data_row.append(themes)
        data_row.append(series)
        data_row.append(playerPerspectives)
    except:
        continue
    # Image Link
    try:
        image = browser.find_by_css('img.img-responsive.cover_big')['src']
        data_row.append(image)
    except:
        continue
    # Member Rating
    try:
        member_rating = browser.find_by_css('text.gauge-description').text
    except:
        continue
    data_row.append(member_rating)
    # Game Description
    try:
        browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].find_by_css('span').click()
        game_description = browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].text
    except:
        try:
            game_description = browser.find_by_css('div.gamepage-tabs').find_by_css('div')[6].text
        except:
            continue
    if game_description == 'This game is missing a summary, register an account to add one.':
        continue
    game_description = game_description.replace('\n', '').replace('...', '. ')
    data_row.append(game_description)
    # Keywords
    try:
        browser.find_by_css('div.optimisly-game-extrainfo2').find_by_css('div')[3].find_by_css('span').click()
        keywords = browser.find_by_css('div.optimisly-game-extrainfo2').find_by_css('div')[3].text
    except:
        try:
            keywords = browser.find_by_css('div.optimisly-game-extrainfo2').find_by_css('div')[3].text
        except:
            keywords = ''
    keywords = keywords.replace(',', '')
    data_row.append(keywords)
    # Append Row to DataFrame
    if i == 0:
        test_df = pd.DataFrame(np.reshape(data_row, (1,12)), columns = ['title','moreInfo', 'systems', 'genres',
                                                                        'playModes', 'themes', 'series', 'playerPerspectives',
                                                                        'imageLink', 'memberRating', 'gameDescription',
                                                                        'keywords'])
        
    else:
        df_length = len(test_df)
        test_df.loc[df_length] = data_row
test_df

,title,moreInfo,systems,genres,playModes,themes,series,playerPerspectives,imageLink,memberRating,gameDescription,keywords
0,#killallzombies,https://www.igdb.com/games/number-killallzombies,"[Xbox One, PlayStation 4, PlayStation Network,...","[Arcade, Indie, Shooter]","[Co-operative, Multiplayer, Single player, Spl...","[Action, Horror]",,[Bird view / Isometric],https://images.igdb.com/igdb/image/upload/t_co...,Alright,#KILLALLZOMBIES is an insane twin-stick zombie...,
1,'Splosion Man,https://www.igdb.com/games/ms-splosion-man,"[iOS, Xbox Live Arcade, Windows Phone, PC (Mic...","[Indie, Platform]","[Co-operative, Multiplayer, Single player]","[Action, Comedy, Science fiction]",Splosion Man,[Side view],https://images.igdb.com/igdb/image/upload/t_co...,Good,"You got a problem? Yo, she’ll splode it. At th...",4 player co-op acid anchor avatar awards baref...
2,'n Verlore Verstand,https://www.igdb.com/games/n-verlore-verstand,"[Xbox One, Linux, Mac, PC (Microsoft Windows),...","[Adventure, Indie, Platform, Puzzle]",[Single player],[],,"[First person, Virtual Reality]",https://images.igdb.com/igdb/image/upload/t_co...,Alright,Be prepared to be transported to a reality of ...,
3,.hack//G.U. Last Recode,https://www.igdb.com/games/dot-hack-slash-slas...,"[PlayStation 4, PC (Microsoft Windows)]","[Adventure, Role-playing (RPG)]",[Single player],"[Action, Fantasy, Science fiction]",.hack//G.U,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Alright,A remastered collection of the .hack//G.U. ser...,
4,.hack//G.U.vol.1//Rebirth,https://www.igdb.com/games/dot-hack-slash-slas...,[PlayStation 2],[Role-playing (RPG)],[Single player],"[Action, Fantasy, Science fiction]",.hack//G.U,"[First person, Third person]",https://images.igdb.com/igdb/image/upload/t_co...,Alright,.hack//G.U. simulates a massively multiplayer ...,
...,...,...,...,...,...,...,...,...,...,...,...,...
5629,Puyo Pop: Fever,https://www.igdb.com/games/puyo-pop-fever,"[Nintendo DS, Xbox 360, PlayStation 2, Mac, Ni...","[Music, Puzzle, Strategy]","[Single player, Split screen]",[Action],Puyo Puyo,[],https://images.igdb.com/igdb/image/upload/t_co...,Alright,Updated version of the classic Puyo Puyo puzzl...,Puyo Puyo Fever (Other Alias)
5630,Puyo Puyo,https://www.igdb.com/games/puyo-puyo,[Super Famicom],"[Puzzle, Strategy]",[],[],Puyo Puyo,[],https://images.igdb.com/igdb/image/upload/t_co...,Alright,Puyo Puyo is a puzzle game in which the player...,Puzlow Kids (Other Alias)
5631,Puyo Puyo 7,https://www.igdb.com/games/puyo-puyo-7,"[Nintendo DS, PlayStation Portable, Wii]",[Puzzle],"[Multiplayer, Single player]",[],Puyo Puyo!,[],https://images.igdb.com/igdb/image/upload/t_co...,Alright,This is the 7th game in the main Puyo Puyo ser...,
5632,Puyo Puyo Champions,https://www.igdb.com/games/puyo-puyo-champions,"[Xbox One, PlayStation 4, PC (Microsoft Window...",[Puzzle],"[Multiplayer, Single player]",[Action],Puyo Puyo,[Side view],https://images.igdb.com/igdb/image/upload/t_co...,Alright,"Easy to learn, tough to master! Jump straight ...",
5633,Puyo Puyo Fever 2,https://www.igdb.com/games/puyo-puyo-fever-2,"[Nintendo DS, PlayStation Portable]",[Puzzle],[],[Action],Puyo Puyo,[],https://images.igdb.com/igdb/image/upload/t_co...,Alright,Hmm. no websites found for this game. Care to...,block matching genius-level intellect heteroch...

In [258]:
test_df

,title,moreInfo,systems,genres,playModes,themes,series,playerPerspectives,imageLink,memberRating,gameDescription,keywords
0,#killallzombies,https://www.igdb.com/games/number-killallzombies,"[Xbox One, PlayStation 4, PlayStation Network,...","[Arcade, Indie, Shooter]","[Co-operative, Multiplayer, Single player, Spl...","[Action, Horror]",,[Bird view / Isometric],https://images.igdb.com/igdb/image/upload/t_co...,Alright,#KILLALLZOMBIES is an insane twin-stick zombie...,
1,'Splosion Man,https://www.igdb.com/games/ms-splosion-man,"[iOS, Xbox Live Arcade, Windows Phone, PC (Mic...","[Indie, Platform]","[Co-operative, Multiplayer, Single player]","[Action, Comedy, Science fiction]",Splosion Man,[Side view],https://images.igdb.com/igdb/image/upload/t_co...,Good,"You got a problem? Yo, she’ll splode it. At th...",4 player co-op acid anchor avatar awards baref...
2,'n Verlore Verstand,https://www.igdb.com/games/n-verlore-verstand,"[Xbox One, Linux, Mac, PC (Microsoft Windows),...","[Adventure, Indie, Platform, Puzzle]",[Single player],[],,"[First person, Virtual Reality]",https://images.igdb.com/igdb/image/upload/t_co...,Alright,Be prepared to be transported to a reality of ...,
3,.hack//G.U. Last Recode,https://www.igdb.com/games/dot-hack-slash-slas...,"[PlayStation 4, PC (Microsoft Windows)]","[Adventure, Role-playing (RPG)]",[Single player],"[Action, Fantasy, Science fiction]",.hack//G.U,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Alright,A remastered collection of the .hack//G.U. ser...,
4,.hack//G.U.vol.1//Rebirth,https://www.igdb.com/games/dot-hack-slash-slas...,[PlayStation 2],[Role-playing (RPG)],[Single player],"[Action, Fantasy, Science fiction]",.hack//G.U,"[First person, Third person]",https://images.igdb.com/igdb/image/upload/t_co...,Alright,.hack//G.U. simulates a massively multiplayer ...,
...,...,...,...,...,...,...,...,...,...,...,...,...
1656,Cyber Jansou,https://www.igdb.com/games/digimon-story-cyber...,"[PlayStation 4, PlayStation Vita]","[Adventure, Role-playing (RPG), Strategy, Turn...",[Single player],"[Action, Science fiction]",Digimon Story,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Good,"Digimon Story: Cyber Sleuth, developed by Medi...",
1657,Cyberdimension Neptunia: 4 Goddesses Online,https://www.igdb.com/games/cyberdimension-nept...,"[PlayStation 4, PC (Microsoft Windows)]",[Role-playing (RPG)],"[Multiplayer, Single player]","[Action, Science fiction]",Hyperdimension Neptunia,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Good,The story starts out with the Neptune and frie...,
1658,Cyberia,https://www.igdb.com/games/cyberia,"[Sega Saturn, PlayStation, PC DOS, 3DO Interac...",[Shooter],[Single player],"[Action, Science fiction]",Cyberia,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Alright,In a future where global terrorists rule and m...,action-adventure cutscene cybernetics e3 1995 ...
1659,Cybernator,https://www.igdb.com/games/cybernator,"[Wii U, Super Nintendo Entertainment System (S...","[Platform, Shooter]",[Single player],"[Action, Science fiction]",Assault Suits,[Side view],https://images.igdb.com/igdb/image/upload/t_co...,Good,Cybernator is a run and gun game released in 1...,mech
1660,CyraidBakuretsu Senshi Warrior JP,https://www.igdb.com/games/rogue-warrior,"[Xbox 360, PlayStation 3, PC (Microsoft Windows)]","[Shooter, Tactical]","[Multiplayer, Single player]","[Action, Sandbox, Stealth]",,"[First person, Third person]",https://images.igdb.com/igdb/image/upload/t_co...,Average,"Rogue Warrior is a character-driven, first-per...",

In [252]:
len(data_row)

11

In [262]:
test_df.to_csv('test_df.csv')

In [256]:
data_row

["'Splosion Man",
 'https://www.igdb.com/games/ms-splosion-man',
 ['iOS',
  'Xbox Live Arcade',
  'Windows Phone',
  'PC (Microsoft Windows)',
  'Nintendo Switch'],
 ['iOS',
  'Xbox Live Arcade',
  'Windows Phone',
  'PC (Microsoft Windows)',
  'Nintendo Switch'],
 ['iOS',
  'Xbox Live Arcade',
  'Windows Phone',
  'PC (Microsoft Windows)',
  'Nintendo Switch'],
 ['iOS',
  'Xbox Live Arcade',
  'Windows Phone',
  'PC (Microsoft Windows)',
  'Nintendo Switch'],
 ['iOS',
  'Xbox Live Arcade',
  'Windows Phone',
  'PC (Microsoft Windows)',
  'Nintendo Switch'],
 ['Indie', 'Platform'],
 ['Co-operative', 'Multiplayer', 'Single player'],
 ['Action', 'Comedy', 'Science fiction'],
 'Splosion Man',
 ['Side view'],
 'https://images.igdb.com/igdb/image/upload/t_cover_big/co27ml.jpg',
 'Good',
 'You got a problem? Yo, she’ll splode it. At the Big Science after-party celebrating the capture of Splosion Man, a spill of champagne shorts out the safety protocols on the splosionatrix and from it emerges Ms. Splosion Man. The latest creation from Twisted Pixel Games, the creators of Splosion Man, The Maw, and Comic Jumper, Ms. Splosion man comes packed with fifty levels of single player and a separate fifty level co-op multiplayer campaign.Expanded map features, tons of unlockables, ghost replays, and countless other improvements make this the definitive edition for any splosion connoisseur.',
 "4 player co-op acid anchor avatar awards barefoot barrel barrier beard bosses boss fight buddy jump cake cameo appearance climbable bosses collectibles comedy concept art cooperative play currency dancing digital distribution distaff counterpart double jump dynamic soundtrack electricity end credits songs energy weapons exploding barrel exploding vehicles explosion explosion immunity facial hair female protagonists flying car full motion video game reference games advertising games games for windows - live glass gun high score instant kill internet culture reference laser leaderboard ledge grab mission accomplished banner movie reference moving platforms multiple endings musical menu original soundtrack release overweight character overworld par time pax east 2011 pax east 2012 pax east 2013 pax prime 2011 pax prime 2012 pax prime 2013 platformer pop culture reference protagonist's name in the title quick time event robots scientist sci-fi secret area self-referential humor sequel shoes side-scrolling spikes steam switch triple jump unlockables wall jump weight xbox one backwards compatibility"]

In [228]:
test_df

,title,genres,playModes,themes,series,playerPerspectives,imageLink,memberRating,gameDescription,keywords
0,007: Agent Under Fire,"[Adventure, Shooter]","[Single player, Split screen]",[Action],James Bond,[First person],https://images.igdb.com/igdb/image/upload/t_co...,Fair,James Bond 007: Agent Under Fire is the first ...,.45 defender 60 fps on consoles agents ak-47 a...
1,007: Everything or Nothing,"[Adventure, Shooter, Sport]","[Single player, Split screen]",[Action],James Bond,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Alright,"Returning as James Bond is Pierce Brosnan, who...",007 (Other Alias)
2,007: From Russia with Love,"[Racing, Shooter]","[Single player, Split screen]","[Action, Stealth]",James Bond,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Fair,From Russia with Love is a video game featurin...,ak-47 aston martin db5 auto-aim barb wire fenc...
3,007: Nightfire,[Shooter],"[Single player, Split screen]",[Action],James Bond,[First person],https://images.igdb.com/igdb/image/upload/t_co...,Alright,007: Nightfire is a first-person shooter featu...,
4,2002 FIFA World Cup,[Sport],"[Multiplayer, Single player]",[Non-fiction],FIFA World Cup,[Bird view / Isometric],https://images.igdb.com/igdb/image/upload/t_co...,Alright,World Cup 2002 is the official game of the 17t...,
...,...,...,...,...,...,...,...,...,...,...
939,Dragon Ball: Raging Blast,[Fighting],"[Multiplayer, Single player]",[Action],Dragon Ball,[],https://images.igdb.com/igdb/image/upload/t_co...,Alright,Interactive and destructible environments brin...,
940,Dragon Ball: Raging Blast 2,[Fighting],"[Multiplayer, Single player]",[Action],Dragon Ball,[],https://images.igdb.com/igdb/image/upload/t_co...,Good,Dragon Ball Z fans can rest assured that the d...,
941,Dragon Ball Z: Budokai HD Collection remaster ...,"[Adventure, Card & Board Game, Hack and slash/...","[Multiplayer, Single player]","[Action, Fantasy, Science fiction]",,"[Bird view / Isometric, Third person]",https://images.igdb.com/igdb/image/upload/t_co...,Alright,Relive the story of Goku in DRAGON BALL Z: KAK...,Doragon Bōru Zetto Kakarotto (Japanese title)
942,Dragon's Dogma,"[Hack and slash/Beat 'em up, Role-playing (RPG)]",[Single player],"[Action, Fantasy, Historical, Sandbox]",Dragon's Dogma,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Alright,"Set in a huge open world, Dragon’s Dogma: Dark...",
943,Dragon's Dogma: Dark Arisen,"[Adventure, Role-playing (RPG)]",[Single player],"[Action, Fantasy, Historical, Open world]",Dragon's Dogma,[Third person],https://images.igdb.com/igdb/image/upload/t_co...,Good,Dragon’s Dogma: Dark Arisen contains all the c...,

In [1]:
for i in range(len(test_df['title'])):
    if 'berzerk' in test_df['title'][i].lower():
        print(test_df['title'][i])
        print(i)

NameError: name 'test_df' is not defined